=form.inputs do
  =form.input :gallery_address, :as => :text, :input_html => {:rows => 4}
  =form.input :gallery_phone
  =form.input :gallery_email
  =form.input :gallery_website
  =form.input :gallery_hours, :as => :text, :input_html => {:rows => 3}