=form.inputs do
  =form.input :number_of_related_pages, :as => :select, :collection => (1 ... 10).to_a, :prompt => "Please select..."
  =form.input :number_of_related_programme_items, :as => :select, :collection => (1 ... 10).to_a, :prompt => "Please select..."