=render "community/community_nav"
.container
  .row
    .col-md-12
      %h2.home-title#community-title Sign up
    .col-md-10.col-md-offset-1
      %h2.center
        It's easy to log in with one of these sites you already use.
        %br
        We promise not to post to your account
        %br
        or spam your friends
    .col-md-8.col-md-offset-2.center.mt-1.mb-2
      =link_to("Login with Facebook", user_omniauth_authorize_path(:facebook), :class => "oauth-login-link facebook-login-link")
      =link_to("Login with Twitter", user_omniauth_authorize_path(:twitter), :class => "oauth-login-link twitter-login-link")
      =link_to("Login with LinkedIn", user_omniauth_authorize_path(:linkedin), :class => "oauth-login-link linkedin-login-link")
    .col-md-12.center.mb-1
      Or enter your email address manually
      %u=link_to("here", 'javascript:void()', :'data-toggle' => "collapse", :'data-target' => "#hard-way")
    .col-md-6.col-md-offset-3.collapse#hard-way.signup-form.col-sm-6.col-sm-offset-3
      =semantic_form_for(resource, :as => resource_name, :url => users_path) do |form|
        =form.inputs do
          =form.input :email
          =form.input :first_name
          =form.input :last_name
          =form.input :password
          =form.input :password_confirmation
          =form.input :remember_me, :as => :boolean if devise_mapping.rememberable?
          =hidden_field_tag :next, params[:next] if params[:next]
        =form.commit_button "Sign up", :button_html => {:class => "black-btn", :data => {:"loading-text" => "Signing up..."}}