-slides ||= slideshow.slides

=content_for(:head) do
  :javascript
    $(document).ready(function() {
      YmCms.Slideshow.init();
    });

.slideshow_container
  .slideshow
    .slideshow_inner
      -slides.each_with_index do |slide, index|
        .span11.slide{:class => "#{index == 1 ? 'next_slide' : ''}"}
          .slide_inner
            -if slide.is_a?(Slide)
              %h3.slide-title.medium-title
                =slide.title
            -if slide.has_video?
              %iframe{:width => 520, :height => 320, :src => slide.video_embed_url, :frameborder => 0, :allowfullscreen => true}
            -else
              .photo-wrapper
                -if current_user && slide.is_a?(Photo)
                  =add_to_favourites_link(slide)
                =image_for(slide, "x450")
            .slide-caption
              =slide.caption