-slides ||= slideshow.slides

-content_for(:head) do
  :javascript
    var carouselInterval;
    function nextTab(){
      var currentTabIdx = parseInt($('.carousel ul li.active ').data('tab-idx'));
      var nextTabIdx = (currentTabIdx + 1) % $('.carousel ul li').length;
      $('.carousel ul li[data-tab-idx="' + nextTabIdx + '"] a').tab('show');
    }
    $(document).ready(function() {
      carouselInterval = setInterval("nextTab()",3000);
      $('.carousel-list li').hover(function(){
        clearInterval(carouselInterval);
        if(!$(this).hasClass('active')){
          $('.carousel-image .slide.active').removeClass('active');
          $(this).find('a').tab('show');  
        }
      },function(){
        carouselInterval = setInterval("nextTab()",3000);
      });
      $('.carousel-list li').click(function(){
        var url = $(this).find('a').data('read-more-url');
        if(url)
          window.location.href = url;
      });
    });
.carousel.tabbable
  .span4.carousel-list
    %ul
      -slides.each_with_index do |slide,idx|
        %li{:class => "#{idx.zero? ? 'active' : ''}", :'data-tab-idx' => idx}
          =link_to(slide.title, "#slide#{idx}", :'data-toggle' => "tab", :'data-read-more-url' => slide.url)
          =#link_to_url(slide.url, :title => '&rarr; Read more'.html_safe, :auto_target => true)
          =#link_to('&rarr; Read more'.html_safe, slide.url, :title => '&rarr; Read more'.html_safe)
  .span8.carousel-image.tab-content
    -slides.each_with_index do |slide, idx|
      .slide.tab-pane{:id => "slide#{idx}", :class => "#{idx.zero? ? 'active' : ''}"}
        -if slide.has_video?
          %iframe{:width => 620, :height => 380, :src => slide.video_embed_url, :frameborder => 0, :allowfullscreen => true}
        -else
          =image_for(slide, "620x380#")
        .span6.carousel-text
          %p=slide.caption
          %p=link_to('&rarr; Read more'.html_safe, slide.url, :title => '&rarr; Read more'.html_safe)