.row-fluid
  .span3
    -if @photos.previous_page
      =link_to mobile_photos_path(:page => @photos.previous_page), :class => "next-prev-link" do
        %icon.icon-chevron-left
    -else
      %span.next-prev-link
        %icon.icon-chevron-left
  .span6.center
    %p
      =@photos.current_page
      of
      =@photos.total_pages
  .span3
    -if @photos.next_page
      =link_to mobile_photos_path(:page => @photos.next_page), :class => "next-prev-link" do
        %icon.icon-chevron-right
    -else
      %span.next-prev-link
        %icon.icon-chevron-right
.row-fluid
  %table.photos-table
    %tbody
      -@photos.each_slice(4) do |photos|
        %tr
          -photos.each do |photo|
            %td.span3=link_to(image_for_with_retina(photo, '62x62'),mobile_photo_path(photo))