.row-fluid
  .span12
    %h3.center=@photo.photographer
    %table.photos-table
      %tr
        %td#photo-cell=image_for_with_retina(@photo, "288x288")
.row-fluid
  .span1
    %br
  .span10.center=@photo.caption