.navbar.navbar-fixed-top
  .navbar-inner
    .container-fluid.center
      .row
        .col-md-2
          %ul.nav
            %li
              -if @event || @photo || (@page && (@page_title != @page.title))
                =link_to :back, :class => "back-link" do
                  %icon.icon-circle-arrow-left
              -else
                %br
        .col-md-8.center
          =link_to(@page_title.titleize, '#', :class => 'brand')
        .col-md-2
          %ul.nav
            %li
              =link_to("&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;".html_safe, request.url)