/*========== Formtastic ==========*/

form.formtastic {
  background-color: white;
}
form .tab-pane fieldset {
  padding: 20px 20px 0 20px;
}
form.formtastic .form-actions input {
  margin: 0;
}
form.formtastic .form-actions a.btn {
  text-decoration: none;
}


