.span8
  %h1
    %span#page_title.mercury-region{:"data-type" => "textable"}
      =page.title
    %small Gallery view
  .row
    .span6
      .gallery_slideshow.fade_in
        =image_for(page, "770x446>")
    .span2
      %h2 Contact
      %ul.unstyled
        %li
          %span#page_gallery_address.mercury-region{:"data-type" => "textable"}
            =raw(page.gallery_address)
        %li
          t:
          %span#page_gallery_phone.mercury-region{:"data-type" => "textable"}
            =page.gallery_phone
        %li
          e:
          %span#page_gallery_email.mercury-region{:"data-type" => "textable"}
            =page.gallery_email
        %li
          w:
          %span#page_gallery_website.mercury-region{:"data-type" => "textable"}
            =page.gallery_website
      %h2 Gallery hours
      %span#page_gallery_hours.mercury-region{:"data-type" => "textable"}
        =raw(page.gallery_hours)
    
  .row
    .span8
      .gallery_description
        -if page.text.blank? && !viewing_mercury_edit?
          #page_text
            =mercury_edit_link("Click here to add some page content", mercury_update_page_path(page))
        -else
          #page_text.mercury-region{:"data-type" => "editable"}
            =raw(page.text)
    .span8
      =options_panel do
        =mercury_edit_link("Edit page content", mercury_update_page_path(page), :id => "mercury_edit_link")
        =#link_to("Edit page content", "/editor" + request.path, :id => "mercury_edit_link", :data => {:save_url => mercury_update_page_path(page)})
        =link_to("Edit page details", edit_page_path)
        =link_to("Delete page", page, :method => :destroy, :confirm => "Are you sure?")