.container
=render("pages/toggle_nav", :current_page => @page)
.container
  .row
    .span12
      %h1.big-title.gallery-title
        %span#page_title
          =raw(@page.title)
-if @page.photos
  =render("slideshows/slideshow", :slides => @page.photos)
  
.container
  .row
    .span8
      .row
        .span4
          %h2.mb-1
            =raw(@page.title)
          .page_text
            #page_text
              =raw(@page.text)
          =favourite_link(@page)
        .span4
          -if @page.image
            =image_for(@page, "250x")
            -if @page.image_caption
              %p.mt-1.event-image-caption=@page.image_caption
          -else
            .placeholder250x
              &nbsp;
      .row
        .span8
          %h2.normal-title.mt-3.meet-people-title THESE PEOPLE FAVOURITED THIS GALLERY
          =render 'events/favourited_by', :item => @page

    .span4.news_page_signup
      %h2.normal-title.upcase.mb-1
        Attendance 
      %form
        %select{:onchange => "location = this.options[this.selectedIndex].value;"}
          -@page.profiles.each do |profile|
            %option{:value => page_path(profile.id), selected: profile.id == @page.id}=profile.edition

      -if !@page.photographers.empty?
        %h2.normal-title.upcase.mb-1 Artists
        .pull-left.clear.mb-2
          -@page.photographers.each do |photographer|
            .row.mb-1
              .span1
                =link_to(image_for(photographer, "60x60#"), photographer)
              .span3.related-text
                =link_to_self(photographer)
                %br
                Photographer
      -if @page.has_gallery_contact_details?
        %h2.normal-title.upcase.clear Contact
        %ul.unstyled.pull-left.clear.mb-2
          -if @page.gallery_address.present?
            %li.gallery_address
              =simple_format(@page.gallery_address)
          -if @page.gallery_phone.present?
            %li.gallery_phone
              t:
              =@page.gallery_phone
          -if @page.gallery_fax.present?
            %li.gallery_fax
              f:
              =@page.gallery_fax
          -if @page.gallery_email.present?
            %li.gallery_email
              e:
              =auto_link(@page.gallery_email)
          -if @page.gallery_website.present?
            %li.gallery_website
              w:
              =link_to_url(@page.gallery_website)
          -if @page.gallery_facebook.present?
            %li.gallery_facebook
              fb:
              =link_to_url(@page.gallery_facebook.gsub(/(http:\/\/)?(www\.)?/, ""))
      -if @page.gallery_hours.present?
        %br.clear
        %h2.normal-title.upcase Gallery hours
        %span.gallery_hours=simple_format(@page.gallery_hours)
  
  .row
    .span12
      =options_panel do
        =back_link
        =link_if_can("Edit page", [:edit, @page])
        =link_if_can("Delete page", [:destroy, @page], :confirm => "Are you sure?") unless @page.slug.present?
        -if can?(:new, Page)
          =link_if_can("New gallery", new_child_page_path(:parent_id => @page.parent_id))
        -if !@page.has_latest_edition?
          =link_if_can("Create copy for #{Settings.edition.latest}", [:clone, @page], :confirm => "Are you sure you want to create a copy of this gallery for #{Settings.edition.latest}?", :method => :post) 
     