.span8
  %h1
    %span#page_title
      =raw(@page.title)
  .row
    .span8
      #page_text
        =raw(@page.text)
  .row
    =render("pages/list_view", :items => @page_children)
  .row
    .span8
      =options_panel do
        =back_link
        =link_if_can("Edit page", [:edit, @page])
        =link_if_can("Delete page", [:destroy, @page], :confirm => "Are you sure?") unless @page.slug.present?
        =link_if_can("New page", new_child_page_path(:parent_id => @page.id)) if can?(:new,Page)
        