.span8
  %h1
    %span#page_title.mercury-region{:"data-type" => "editable"}
      =raw(page.title)
  .row
    .span8
      #page_text.mercury-region{:"data-type" => "editable"}
        =raw(page.text)
  .row
    =render("pages/list_view", :pages => page_children)
  .row
    .span8
      =options_panel do
        =back_link
        =mercury_edit_link("Edit page content", mercury_update_page_path(page), :id => "mercury_edit_link") if can?(:edit, page)
        =link_if_can("Edit page details", [:edit, page])
        =link_if_can("Delete page", [:destroy, page], :confirm => "Are you sure?") unless page.slug.present?
        =link_if_can("New page", new_child_page_path(:parent_id => page.id)) if can?(:new,Page)
        