.news_page.span8
  %h1
    %span#page_title.mercury-region{:"data-type" => "editable"}
      =raw(page.title)
  %p.list_date_and_tag
    =page.created_at.strftime("%e %B %Y")
    =" - #{page.news_category}" if page.news_category.present?      
  -if page.image
    .row
      .news_page_image.span8
        =image_for(page, "5100x380>")
  .row
    .span6
      .page_text
        -if page.text.blank? && !viewing_mercury_edit? && can?(:edit, page)
          #page_text
            =mercury_edit_link("Click here to add some page content", mercury_update_page_path(page))
        -else
          #page_text.mercury-region{:"data-type" => "editable"}
            =raw(page.text)
    .span8
      =options_panel do
        -if can?(:edit, page)
          =mercury_edit_link("Edit page content", mercury_update_page_path(page), :id => "mercury_edit_link")
        =link_if_can("Edit page details", [:edit, page])
        =link_if_can("Delete page", [:destroy, page], :confirm => "Are you sure?") unless page.slug.present?
        =link_if_can("New page", [:new, Page])