.container
#parallax_1.parallax
.container
  .row
    .span12
      %h1#news_title.big-title.center
        %span#page_title.mercury-region{:"data-type" => "editable"}
          =raw(page.title)
      .row
        .span8.offset2
          #page_text.mercury-region.center{:"data-type" => "editable"}
            =raw(page.text)
      .row
        =render("pages/list_view", :pages => page_children)
        =render("layouts/signup_column")

      .row
        .span8
          =options_panel do
            =back_link
            =mercury_edit_link("Edit page content", mercury_update_page_path(page), :id => "mercury_edit_link") if can?(:edit, page)
            =link_if_can("Edit page details", [:edit, page])
            =link_if_can("Delete page", [:destroy, page], :confirm => "Are you sure?") unless page.slug.present?
            =link_if_can("New page", [:new, Page])