.container
#parallax_1.parallax.parallax-subnav
  .subnav-strip
    .container
      .row
        .span11
          .subnav-tabs
            %ul
              =li_with_active(params[:category].blank?, link_to('All', page, :class => 'subnav-tab'))
              -Page::NEWS_CATEGORIES.each do |category|
                =li_with_active(params[:category]==category, link_to(category.humanize, page_path(page, :category => category), :class => 'subnav-tab'))
        .span1
          =render("pages/toggle_view_links", :current_page => page)
.container
  .row
    .span12
      %h1#news_title.big-title.center
        %span#page_title.mercury-region{:"data-type" => "editable"}
          =raw(page.title)
      .row
        .span8.offset2
          #page_text.mercury-region.center{:"data-type" => "editable"}
            =raw(page.text)
      .row
        -if view_preference == 'block'
          =render("pages/block_view", :pages => page_children, :parent_page => page)
        -else
          =render("pages/list_view", :pages => page_children, :parent_page => page)
          =render("layouts/signup_column")
      .row
        .span8
          =options_panel do
            =back_link
            =mercury_edit_link("Edit page content", mercury_update_page_path(page), :id => "mercury_edit_link") if can?(:edit, page)
            =link_if_can("Edit page details", [:edit, page])
            =link_if_can("Delete page", [:destroy, page], :confirm => "Are you sure?") unless page.slug.present?
            =link_if_can("New page", [:new, Page])