-content_for(:head) do
  :coffeescript
    $(document).ready ->
      unless window.location.pathname.replace("-1", "") is "/vip"
        $.scrollTo $("#js-programme"), 750
      $('#js-ticket-link').click (e) ->
        e.preventDefault()
        $.scrollTo($('#js-ticket'), 750);
      $('.js-programme-link').click (e) ->
        e.preventDefault()
        $.scrollTo($('#js-programme'), 750);


.container
  .row
    .col-md-12.highlight-intro
      %h1.big-title.center.highlight-title
        %span#page_title
          =raw(vip_page.title)
      %h2#page_text.small-title.highlight-title
        =raw(vip_page.text)
  .row
    =render('slideshows/tabbed_slideshow', :slideshow => vip_page.slideshow) if vip_page.slideshow
    .col-md-3.col-md-offset-3
      =link_to("Get your e-ticket", '#', :class => "black-btn more-middle", :id => 'js-ticket-link')
    .col-md-3
      =link_to("Full programme", '#', :class => "black-btn more-middle js-programme-link")
.container
  .row
    .col-md-8
      =options_panel do
        =link_if_can("Edit vip page details", [:edit, vip_page])

.home_box.parallax-subnav{:class => next_home_background_class}

.container
  .row
    .highlight-intro.col-md-12
      %h1.big-title.center.highlight-title.mb-2#page_title#js-ticket
        VIP E-TICKETS

      %h2#page_text.small-title.center.mb-2
        =snippet_text(:vip_ticket_intro, "We kindly ask you to use your voucher code, that you can find on your person-\nal VIP invitation, to login. Your VIP e-ticket will be sent to you by email. This\ne-ticket is valid for you and one guest. At the fair we kindly as you to present\nthis e-ticket at the Unseen VIP Desk where you and your guest will receive a\nVIP wristband, providing you with unlimited access to the Fair, the Festival\nProgramme and the exclusive Unseen Unlimited activities.").gsub(/\n/, '<br/>').html_safe
        %small=edit_snippet_link(:vip_ticket_intro)
      %p.center
        %iframe{:frameborder => "0", :height => "525", :width => "450", :src => "https://frontoffice.paylogic.nl/?event_id=94728&amp;point_of_sale_id=9904", :width => 450 }

      %p.center.mt-2.mb-2
        =link_to("Full programme", '#', :class => "black-btn js-programme-link center")

-page_to_show = (@page == vip_page) ? vip_page.children.first : @page
#js-programme.vip.home_box.parallax-subnav{:class => next_home_background_class}
  .subnav-strip
    .container
      .row
        .col-md-11
          .subnav-tabs
            %ul
              -Page.find_by_slug('vip').children.each_with_index do |child, index|
                =li_with_active((child == page_to_show) || (child == page_to_show.parent), link_to(child.title,child, :class => 'subnav-tab'))
              -if can?(:create, Page)
                %li.subnav-tab
                  =link_to("+ Add page", new_child_page_path(:parent_id => vip_page.id))
        .col-md-1
          =render("pages/toggle_view_links")

-if page_to_show
  .container
    -if page_to_show.parent == vip_page
      .row
        .col-md-12
          %h2.home-title
            %span#page_title
              =raw(page_to_show.title)

        .row
          -if view_preference == 'block'
            =render("pages/block_view", :items => page_to_show.children, :parent_page => page_to_show)
          -else
            =render("pages/list_view", :items => page_to_show.children, :parent_page => page_to_show)
            .col-md-3.col-md-offset-1
              .row
                =render("layouts/signup_column")
    -else
      .row
        .news_page.col-md-12.mt-2
          %h1
            %span#page_title
              =raw(@page.title)
          %p.list_date_and_tag
            -@page.page_tags.each do |tag|
              =link_to_tag(tag, :label_options => {:method => :titleize})
      .row
        .news_page.col-md-7
          -if @page.image
            .news_page_image
              =image_for(@page, "540x")
              -if @page.image_caption
                %p.mt-1.event-image-caption=@page.image_caption
            =render('layouts/share_links', :resource => @page)
          .page_text
            #page_text
              =raw(@page.text)
          -if @page.page_tag_list.present?
            .row.mt-2.mb-2
              .col-md-8
                %ul.tag-list.tag-list-horizontal
                  -@page.page_tags.each do |tag|
                    %li=link_to_tag(tag, :label_options => {:method => :titleize})
        =render('pages/related_right_col', :page_event => @page)
    .row
      =options_panel do
        =back_link
        =link_if_can("Edit page", [:edit, page_to_show])
        =link_if_can("Delete page", [:destroy, page_to_show], :confirm => "Are you sure?") unless page_to_show.slug.present?
