=google_maps_javascript_include_tag
-content_for :head do
  :javascript
    $(document).ready(function() {
      UserLocationMap.init(#{@user.lat_lng_or_default.join(',')},#{@user.has_lat_lng?});
    });

%h2=user
%p
  %strong Drag
  and
  %strong zoom
  the map to fine-tune your location

#map-canvas{:style => "width:100%;height:400px;"}
=semantic_form_for @user do |form|
  =form.inputs do
    =form.input :lat, :as => :hidden
    =form.input :lng, :as => :hidden
  =form.buttons do
    =form.commit_button "Save", :button_html => {:class => 'btn-primary'}
