.container
  .row.margin-top
    .span2
      =image_for(user, "140x")
    .span8
      %h2.margin-bottom=title(user)
      .row
        -if can?(:create, Post)
          .span8
            =render("posts/remote_form", :post => current_user.posts.build(:target => (current_user==user ? nil : user)))
        .span8
          =render("users/posts")
  .row
    .span12
      =options_panel do
        =back_link
        =link_if_can("Edit user", [:edit, user])