.container
  .row
    .span2
      =image_for(user, "140x")
    .span10
      %h2=title(user)
      =render("posts/remote_form", :post => current_user.posts.build(:target => (current_user==user ? nil : user)))
      =render("posts/posts", :posts => user.wall_posts)
  .row
    .span12
      =options_panel do
        =link_if_can("Edit user", [:edit, user])