#unseen_big_logo
#intro.inview.home_box{:class => next_home_background_class}
  =render("layouts/header")
  .container
    .row
      .artist_name
#second.home_box
  .container
    .row
      .span8#latest_news
        %h2.home_title.upcase What's on?
        -[news_pages.shift(2), news_pages.shift(2)].each do |pages|
          .row
            -pages.each do |page|
              .list_image.span2.fade_in
                =link_to(image_for(page, "140x100#"), page) if page.image
              .list_box.span6
                %h3.list_title=link_to_self(page)
                =link_to raw('&rarr; Read more'), page, :class => 'list_read_more'
        -if news_page.present?
          .row
            .span2.offset2
              =link_to("More news", news_page, :class => "black_btn")
      .span3.offset1
        .span3
          %h2.home_title.upcase Follow us
        .span3.facebook
          =link_to("on Facebook", "http://www.facebook.com/UnseenPhotoFairAmsterdam", :target => "_blank", :class => "home_small_title")
          .fb-like{:"data-href" => "http://www.facebook.com/UnseenPhotoFairAmsterdam", :"data-send" => "false", :"data-width" => "220", :"data-show-faces" => "false"}
          .fb-like-box{:"data-href" => "http://www.facebook.com/UnseenPhotoFairAmsterdam", :"data-width" => "300", :"data-height" => "300", :"data-colorscheme" => "light", :"data-show-faces" => "true", :"data-border-color" => "#fff", :"data-stream" => "false", :"data-header" => "false"}
        .span3.twitter
          =link_to("http://twitter.com/UnseenPhotoFair", :target => "_blank", :class => "home_small_title") do
            on Twitter
            %i.twitter_bird
        .span3#newsletter_signup
          %h2.home_title.upcase Sign up for our newsletter
          =text_field_tag "email", "", :class => "span3"
          =link_to("Submit", "#", :class => "black_btn")
#third.home_box
#fourth.home_box{:class => next_home_background_class}
  .container
    .row
      .artist_name
#fifth.home_box
#sixth.home_box{:class => next_home_background_class}
  .container
    .row
      .artist_name
#seventh.home_box
#eighth.home_box{:class => next_home_background_class}
  .container
    .row
      .artist_name
#ninth.home_box
  .container
    .row
      .artist_name
#tenth.home_box{:class => next_home_background_class}
  .container
    .row
      .artist_name
#eleventh.home_box
  =render('layouts/footer')
