=render("layouts/header")
-if homepage_slideshow
  =render("slideshows/home_slideshow", :slideshow => homepage_slideshow)
  =link_if_can("Edit slideshow", [:edit, homepage_slideshow], :class => "pull-right mt-2 mr-2")
#are-you.strip
  .container
    .row
      .span12
        %h2.are-you-title
          We have an emerging program, discover what unseen offers you:
        %ul.are-you-list
          -persona_pages.each do |page|
            %li=link_to(page.title,page, :class => 'are-you-link category')
#parallax_1.parallax
=render('layouts/news_block')
=render('layouts/footer')
