#unseen_big_logo
#intro.home_box
  =render("layouts/header")
#second.home_box
  .container
    .row
      .span6#latest_news
        %h2 Latest news
        -2.times do
          .row
            -2.times do
              .span3
                =image_placeholder("200x150")
                %p Unseen is fair with a festival flair
      .span6
        .span4.offset2
          %h4 Follow us
          .fb-like-box{:"data-href" => "http://www.facebook.com/UnseenPhotoFairAmsterdam", :"data-width" => "300", :"data-colorscheme" => "dark", :"data-show-faces" => "true", :"data-border-color" => "#333", :"data-stream" => "false", :"data-header" => "false"}
        .span4.offset2
          %h4 Twitter
          .tweet_box
            Praesent eget neque eu eros interdum malesuada non vel leo. Sed fringilla porta ligula egestas tincidunt.
          .twitter_handle
            @UnseenPhotoFair
            %br
            about 2 hours ago
        .span4.offset2#newsletter_signup
          %h4 Sign up for newsletter
          =text_field_tag "email", "", :class => "span4"
          =link_to "#" do
            %i.icon-play.icon-white
            submit
#third.home_box
#fourth.home_box
#fifth.home_box
#sixth.home_box
#seventh.home_box