=render("layouts/header")
#home-slideshow
  .home-slideshow-inner
    .home-slide.home-slide-prev
    .home-slide.active-slide
      .home-slide-caption
        %h2.home-slide-title
          =link_to "Unseen is an international photo fair focussed on...", "#"
        =link_to raw("&rarr; Read more"), "#", :class=>"read_more"
        .dots
          .dot
          .dot
          .dot.active-dot
          .dot
          .dot
    .home-slide.home-slide-next
#are-you.strip
  .container
    .row
      .span12
        %h2.are-you-title
          We have an emerging program, discover what unseen offers you:
        %ul.are-you-list
          %li=link_to "Public", "/wireframes/highlights", :class=>"are-you-link category"
          %li=link_to "Collectors", "/wireframes/highlights", :class=>"are-you-link category"
          %li=link_to "First-time buyers", "/wireframes/highlights", :class=>"are-you-link category"
          %li=link_to "Professionals", "/wireframes/highlights", :class=>"are-you-link category"
          %li=link_to "VIP", "/wireframes/highlights", :class=>"are-you-link category"
          %li=link_to "Press", "/wireframes/highlights", :class=>"are-you-link category"
#parallax_1.parallax
=render('layouts/news_block')
=render('layouts/footer')
