-content_for(:head) do
  :javascript
    $(document).ready(function() {
      $('#event_photographers_input select, #event_galleries_input select').chosen();  
    });

=semantic_form_for(@event) do |form|
  =tabs('details', 'pages/tabs/calls_to_action', 'pages/tabs/related_pages', :form => form)

  =form.buttons do
    =form.commit_button "Save"