#intro.home_box.parallax-subnav{:class => next_home_background_class}
  .subnav-strip
    .container
      .row
        .col-sm-12.subnav-tabs.program-subnav-tabs  
          %ul.col-sm-12.list-unstyled
            -Event.festival_dates.each do |date|
              =li_with_active(@date == date,  link_to(date.strftime('%A<br/>%d.%m').html_safe, program_path(:day => date.strftime('%a').downcase, :anchor => 'program'), :class=>"subnav-tab program-tab col-sm-12"), :class => 'col-sm-3 p-0')
