.container
=render('events/nav')
.container
  .row
    .span8
      %h2.big-title.event-title.mt-2=@event.title
      .row.mt-2
        .span6
          .row
            .span1 Date:
            .span5=link_to(@event.date.strftime('%a %o %B'),program_path(:day=>@event.date.strftime('%a').downcase,:anchor => 'program'))
          .row
            .span1 Time:
            .span5=@event.time_string
          .row
            .span1 Venue:
            .span5=link_to_self(@event.venue)
        .span2
          .pull-right
            =add_to_program_link(@event)
      -if @event.image
        .mt-2.mb-2
          =image_for(@event, "620x")
          -if @event.image_caption
            %p.mt-1.event-image-caption=@event.image_caption
      .page_text.mb-2
        #page_text
          =simple_format(@event.description)   
      -@event.category_list.each do |category|
        =tag_label(category.titleize)
      .row
        .span8
          %h2.normal-title.mt-3.meet-people-title MEET THESE PEOPLE
          #meet-people
            %em#no-one-going{:class => "#{'hide' if !@event.users.count.zero?}"} No one has said they're going yet, you can be the first!
            -@event.users.each do |user|
              =link_to(image_for(user, '60x60#'), user, :'data-user-id' => user.id, :title => user.to_s)
        .span8
          %br
          =add_to_program_link(@event)
    .span4
      %br
    .span8
      =options_panel do
        =back_link
        =link_if_can("Edit event", [:edit, @event])
        =link_if_can("Delete event", [:destroy, @event], :confirm => "Are you sure?")
        -if can?(:new, Event)
          =link_if_can("New event", new_event_path)
