.container
=render('events/nav')
.container
  .row
    .span12
      %h2.big-title.event-title.mt-2=@event.title
      .row.mt-1
        .span5
          .row
            .span1 Date:
            .span4
              =@event.dates.collect {|date| link_to(date.strftime('%a %o %B'), program_path(:day => date.strftime('%a').downcase, :anchor => 'program'))}.join("<br />").html_safe
          .row
            .span1 Time:
            .span4=@event.time_string
          .row
            .span1 Venue:
            .span4=link_to_self(@event.venue)
        .span2
          .pull-right
            =add_to_program_link(@event)
  .row.mt-2
    .span7            
      -if @event.image
        .mb-1
          =image_for(@event, "540x")
          -if @event.image_caption
            %p.mt-1.event-image-caption=@event.image_caption
      =render('layouts/share_links', :resource => @event)
      .page_text.mb-2
        #page_text
          =simple_format(@event.description)   
      -[@event.categories,@event.page_tags].flatten.each do |tag|
        =link_to_tag(tag, :label_options => {:method => :titleize})
      .row
        .span8
          %h2.normal-title.mt-3.meet-people-title MEET THESE PEOPLE
          =render 'events/favourited_by', :item => @event
        .span8
          %br
          =add_to_program_link(@event)
    .span1
      %br
    =render('pages/related_right_col', :page_event => @event)
    .span8
      =options_panel do
        =back_link
        =link_if_can("Edit event", [:edit, @event])
        =link_if_can("Delete event", [:destroy, @event], :confirm => "Are you sure?")
        -if can?(:new, Event)
          =link_if_can("New event", new_event_path)
