-parent_page ||= items.first.try(:parent)

.block-view
  -items.each do |item|
    .block-item.span4
      .block-image.fade_in
        =link_to(image_for(item, "300x200#"), item) if item.image
      .block-text
        -if item.respond_to?(:sub_heading)
          %h4.sub-heading=item.sub_heading
        %h3.block-title=link_to_self(item)
        -if item.is_a?(Page) && item.view_name == 'gallery'
          %p.list_date_and_tag
            %span=item.gallery_city_country
        -else
          %p.list_date_and_tag
            -unless parent_page.slug == 'info'
              %span=item.respond_to?(:publication_date) ? item.publication_date.strftime("%e %B %Y") : item.created_at.strftime("%e %B %Y")
            -if item.respond_to?(:categories)
              -item.categories.each do |tag|
                -if tag.name == 'fair-festival'
                  =link_to tag.to_tag, :class => "tag" do
                    %span.label.tag-label Fair&Festival
                -else
                  =link_to_tag(tag, :label_options => {:method => :titleize})
          -unless %w{press_images info news}.include?(parent_page.try(:slug))
            =link_to raw('&rarr; Read more' + parent_page.slug), item, :class => 'list_read_more'
  -if controller_name=="pages" && can?(:new, Page) && parent_page
    .block-item.span4
      .block-image.fade_in.new-page-box
        =link_to("+ Add a subpage", new_child_page_path(:parent_id => parent_page.id))
  -elsif items.empty?
    %p Coming soon