#intro.home_box.parallax-subnav.press-releases{:class => next_home_background_class}
  .subnav-strip
    .container
      .row
        .span12
          .subnav-tabs
            %ul
              =li_with_active((@page.slug == 'info'), link_to('Info', page_path(Page.find_by_slug(:info)), :class => 'subnav-tab'))
              -Page.find_by_slug('info').children.order(:position).each_with_index do |child, index|
                =li_with_active((child == @page) || (child == @page.try(:parent)), link_to(child.title,child, :class => 'subnav-tab'))
