-parent_page ||= pages.first.try(:parent)

.span8
  -pages.each do |child_page|
    .row
      .list_image.span2.fade_in
        -if child_page.image
          =link_to(image_for(child_page, "140x100#"), child_page)
      .list_box.span6
        %h3.small-title.list_title=link_to_self(child_page)
        -if page.slug == "news"
          %p.list_date_and_tag
            =child_page.created_at.strftime("%e %B %Y")
            -child_page.category_list.each do |category|
              =tag_label(category.titleize)
        =link_to raw('&rarr; Read more'), child_page, :class => 'list_read_more'
  -if controller_name=="pages" && can?(:new, Page) && parent_page
    .row
      .span2.fade_in.new-page-box
        =link_to("+ Add a subpage", new_child_page_path(:parent_id => parent_page.id))
  -elsif pages.empty?
    %p Coming soon