-parent_page ||= items.first.try(:parent)

.col-md-8
  -items.each do |item|
    .media
      -if item.image
        =link_to(image_for(item, "140x100#", :class => 'media-object list_image fade_in'), item, :class => 'pull-left mr-2')
      .media-body.list_box
        %h4.sub-heading=item.sub_heading
        %h3.small-title.list_title=link_to_self(item)
        -if item.is_a?(Page) && item.view_name == 'gallery'
          %p.list_date_and_tag
            %span=item.gallery_city_country
        -if defined?(@page) && @page.slug == "news"
          %p.list_date_and_tag
            -unless parent_page.try(:slug) == 'info' ||  Page.where(slug: ['amsterdam', 'vip']).include?(page_root_parent)
              %span=item.respond_to?(:publication_date) ? item.publication_date.strftime("%e %B %Y") : item.created_at.strftime("%e %B %Y")
            -item.categories.each do |tag|
              -if tag.name == 'fair-festival'
                =link_to tag.to_tag, :class => "tag" do
                  %span.label.tag-label Fair&Festival
              -else
                =link_to_tag(tag, :label_options => {:method => :titleize})
  -if controller_name=="pages" && can?(:new, Page) && parent_page
    .row
      .col-md-2.fade_in.new-page-box
        =link_to("+ Add a subpage", new_child_page_path(:parent_id => parent_page.id))
  -elsif items.empty?
    %p Coming soon
