-parent_page ||= items.first.try(:parent)

.span8
  -items.each do |item|
    .row
      .list_image.span2.fade_in
        -if item.image
          =link_to(image_for(item, "140x100#"), item)
      .list_box.span6
        %h3.small-title.list_title=link_to_self(item)
        -if defined?(page) && page.slug == "news"
          %p.list_date_and_tag
            %span=item.created_at.strftime("%e %B %Y")
            -item.categories.each do |tag|
              -if tag.name == 'fair-festival'
                =link_to tag.to_tag, :class => "tag" do
                  %span.label.tag-label Fair&Festival
              -else
                =link_to_tag(tag, :label_options => {:method => :titleize})
        =link_to raw('&rarr; Read more'), item, :class => 'list_read_more'
  -if controller_name=="pages" && can?(:new, Page) && parent_page
    .row
      .span2.fade_in.new-page-box
        =link_to("+ Add a subpage", new_child_page_path(:parent_id => parent_page.id))
  -elsif items.empty?
    %p Coming soon