#intro.home_box.parallax-subnav{:class => next_home_background_class}
  .subnav-strip
    .container
      .row
        .col-md-11
          .subnav-tabs
            %ul
              %li.active
                %span.subnav-tab
                  Tag
        .col-md-1
          =render("pages/toggle_view_links")
