.col-md-12
  -items.each_slice(6) do |activity_items|
    .row
      -activity_items.each do |activity_item|
        .col-md-2.mb-2=render("activity_items/#{activity_item.resource_type.downcase}", :activity_item => activity_item)