-@people ||= people

-@people.each do |person|
  .col-md-3.col-sm-4.col-xs-12
    .col-md-4.col-sm-4.col-xs-2.community-person.mb-1
      =link_to(image_for(person, "60x60#"), person)
    .col-md-8.col-sm-8.col-xs-8.community-person.mb-1.small-left-margin
      %p.mb-0=link_to_self(person)
      %p.mb-0.job-title
        =person.try(:job_title)
      -if gallery = (person.try(:galleries) || []).first
        %p.mb-0.job-title=link_to_self(gallery)