-@people ||= people

-@people.each do |person|
  .span1.community-person.mb-1
    =link_to(image_for(person, "60x60#"), person)
  .span2.community-person.mb-1.small-left-margin
    %p.mb-0=link_to_self(person)
    %p.mb-0.job-title
      =person.try(:job_title)