-items.each do |photo|  
  .col-md-4.mb-1
    =link_to image_for(photo, "300x300"), photo, :class => "community-photo-image-link"
    %p.photographer
      %strong=link_to_self(photo.photographer)
    -if photo.caption
      %p.caption=photo.caption
    =favourite_link(photo)
    -if current_path == community_activity_path
      =photo.favourites.count
    .clearfix