-original_tags = params[:tag] || []
.tag-list-centered
  -@tags.each do |tag|
    -param_tags = original_tags.dup
    -param_tags << tag.to_s unless param_tags.delete(tag.to_s)
    =link_to(community_people_path(:tag => param_tags), :class => "people-tag tag #{original_tags.include?(tag.to_s) ? 'active'  : ''}", :remote => true) do
      %span.label.tag-label
        =tag
.clearfix.mb-1
-if params[:tags].present?
  =#link_to "Show all", community_people_path, :class => "black-btn", :remote => true