=render "community_nav"
          
.container
  .row
    .span12.center
      %h1.big-title#community-title Community
    .span10.offset1.center
      %h2.mb-15 Sign up and discover new work by known and emerging talents and build your personal photography collection
  .row.mt-2
    .span12
      %h2.center Latest activity
      
  .row.mt-2
    .span12
      .row#activity_item-list
        =render "activity_items", :items => @activity_items
      .row.mb-2
        .span12.center
          =link_to("See all activity", community_activity_path, :class => 'black-btn community-black-btn')
            
            
#intro.home_box{:class => next_home_background_class}
  .bg1

.container 
  .row.mt-2
    .span12
      %h2.center Popular photos
   
  .row.mt-2
    .span12
      .row#photo-list
        =render "photos", :items => @photos
      .row.mb-2
        .span12.center
          =link_to("See all", community_photos_path, :id => "community-black-btn-photos", :class => 'black-btn community-black-btn')


#intro.home_box{:class => next_home_background_class}
  .bg1  

.container
  .row.mt-2
    .span12
      %h2.center Popular events
   
  .row.mt-2
    .span12
      .row#event-list
        =render "events", :items => @events
      .row.mb-2
        .span12.center
          =link_to("Full programme", program_path, :id => "community-black-btn-programme", :class => 'black-btn community-black-btn')
            
#intro.home_box{:class => next_home_background_class}
  .bg1

.container
  .row.mt-2
    .span12
      %h2.center Unseen on Twitter
   
  .row.mt-2
    .span12
      .row#tweets
        -@tweets.each do |tweet|
          .span6.mb-2
            .row
              .span1
                =image_tag(tweet.image_url)
              .span5
                =auto_link(auto_link_twitter(tweet.text))
    .span12.center
      =link_to "Follow us", "https://twitter.com/intent/user?screen_name=UnseenPhotoFair", :id => "community-black-btn-twitter", :class => "black-btn community-black-btn", :target => "_blank"
    