=render "community_nav"
          
.container
  .row
    .news_page.span12
      %h1.big-title.center People
      
  .row.mt-2
    .news_page.span10.offset1.center
      %h2
        Unseen is a meeting place for photography enthusiasts. 
        %br
        Browse these Unseen topics and
        %br
        connect with others
  -if !@tags.empty?
    .row.mt-1
      .span12
        #tags.center
          =render "tags"

  .row.mt-2
    .news_page.span12
      .row          
        .span12
          .row#people
            =render "people"