=render "community_nav"
          
.container
  .row
    .news_page.span12
      %h1.big-title.center People
      
  .row.mt-2
    .news_page.span12.center
      Sign up text here


  .row.mt-2
    .news_page.span12
      .row
        .span4
          %form.form-search{:action => community_people_url, :method => 'get'}
            =text_field_tag 'q', params[:q], :class => "input-medium search-query"
            %input.btn{:type => 'submit', :value => "Search"}
          .clearfix
          -if params[:q]
            =link_to "Show all", community_people_path, :class => "black-btn"
          -elsif !@tags.empty?
            #tags
              =render "tags"
          
               
        .span8
          .row#people
            =render "people"
                
          .row
            .span6.center
              =link_to "Load More", community_people_path(:page => @people.next_page), :class => "black-btn", :id => "more-people-btn", :remote => true unless params[:q] || params[:tag]
              