=render "community_nav"
          
.container
  .row
    .col-md-12.center
      %h1.big-title Popular photos
  .row.mt-2
    .col-md-12
      .row#photo-list
        .col-md-12
          -@photos.each_slice(3) do |photos|
            .row
              =render "photos", :items => photos
