%h1 Get inspired from first-time-buyers and discover new talent, new work and curate your personal collection
.center
  =link_to "Explore", mobile_explore_path, :class => "black-btn"
%br.clearfix
.center
  =link_to "Collect", mobile_photos_path, :class => "black-btn"
%br.clearfix
