.container
=render("pages/tags_nav")
.container
  .row
    .span12
      %h1#news_title.big-title.center
        %span#page_title
          =current_tag.to_s.titleize
      .row
        -if view_preference == 'block'
          =render("pages/block_view", :items => @taggables, :parent_page => nil)
        -else
          =render("pages/list_view", :items => @taggables, :parent_page => nil)
          .span3.offset1
            .row          
              =render("layouts/signup_column")
      .row
        .span8
          =options_panel do
            =back_link