.container
=render("pages/tags_nav")
.container
  .row
    .col-md-12
      %h1#news_title.big-title.center
        %span#page_title
          =current_tag.to_s.titleize
      .row
        -if view_preference == 'block'
          =render("pages/block_view", :items => @other_taggables, :parent_page => nil)
          .row
            .col-md-12
              =render("community/people", :people => @user_taggables)
        -else
          =render("pages/list_view", :items => @other_taggables, :parent_page => nil)
          .col-md-3.col-md-offset-1
            .row          
              =render("layouts/signup_column")
          .row
            .col-md-12
              =render("community/people", :people => @user_taggables)
      .row
        .col-md-8
          =options_panel do
            =back_link