-@photographers ||= photographers

-@photographers.each do |photographer|
  .col-md-3.col-sm-4.col-xs-12
    .col-md-4.col-sm-4.col-xs-4.community-person.mb-1
      =link_to(image_for(photographer, "60x60#"), photographer)
    .col-md-8.col-sm-8.col-xs-8.community-person.mb-1.small-left-margin
      %p.mb-0=link_to_self(photographer)
      -if gallery = (photographer.try(:galleries) || []).first
        %p.mb-0.job-title=link_to_self(gallery)