-photo = f.object
.nested-fields
  =f.inputs :class => "form-inline" do
    -if !photo.new_record? && photo.image
      .control-group
        =image_for(photo, "100x100#")
    =f.input :retained_image, :as => :hidden
    =f.input :image, :as => :file, :label => false
    =link_to_remove_association "x Remove date", f, :class => "pull-left"