.container
=render("pages/toggle_nav")
.container

  .row
    .span12
      %h1.big-title.center Photographers
  .row
    .news_page.span10.offset1.center
      %h2.mb-15
        =snippet_text(:photographers_intro, "Discover unseen work and emerging photography talent.\nJoin the Unseen Community and save them to your personal profile").gsub(/\n/, '<br/>').html_safe
        %small=edit_snippet_link(:photographers_intro)

  .row.mt-2
    .news_page.span12
      .row          
        .span12
          .row#people
            =render "photographers"
  .row
    .span8

      .btn-group#attendance
        .btn Attendance
        .btn.dropdown-toggle{ :'data-toggle' => 'dropdown' }
          %i.icon-caret-down
        %ul.dropdown-menu
          -editions.each do |edition|
            %li{ :class => params[:edition] == edition ? 'active' : '' }
              =link_to photographers_edition_path(:edition => edition) do
                =edition
            
            
      .row.mb-2  
        .span12.center  
          =link_to "More", community_people_path(:page => @people.next_page), :remote => true, :class => "black-btn", :id => "more-people-btn" if @people.respond_to?(:next_page)
          

  .row
    .span12
      =options_panel do
        =back_link
        -if can?(:new, :photographer)
          =link_to("Add photographer", new_photographer_path)
  
      