.container
=render("pages/toggle_nav", :current_page => @page)
.container
  .row.mt-2
    .col-md-12
      .pull-left.mr-2
        =image_for(@photographer, "60x60#")
      %h2.big-title.nocase=title(@photographer)
      
-if @photographer.photos.present?
  =render("slideshows/slideshow", :slides => @photos || @photographer.photos)
  
.container
  .row
    .col-md-8
      .row
        .col-md-9
          -if @photographer.bio.present?
            =simple_format(@photographer.bio)
          =favourite_link(@photographer)
      .row
        .col-md-8
          %h2.normal-title.mt-3.meet-people-title THESE PEOPLE FAVOURITED THIS PHOTOGRAPHER
          =render 'events/favourited_by', :item => @photographer
    .col-md-4.news_page_signup
      -if controller_name=="photographers"
        .btn-group.btn-group-edition
          .btn Attendance
          .btn.dropdown-toggle{ :'data-toggle' => 'dropdown' }
            %i.icon-caret-down
          %ul.dropdown-menu
            -@photographer.profiles.each do |profile|
              %li{ :class => @photographer.id == profile.id ? 'active' : '' }
                =link_to photographer_path(profile.id) do
                  =profile.edition
      -if !@photographer.galleries.where("view_name = 'gallery'").empty?

        %h2.normal-title.upcase.mb-1 Represented by
        .pull-left.clear.mb-2.col-md-12.col-xs-12.p-0
          -@photographer.galleries.where("view_name = 'gallery'").each do |gallery|
            .media.mb-1
              =link_to(image_for(gallery, "60x60#", :class => 'media-object'), gallery, :class => 'pull-left')
              .media-body.col-md-8.col-xs-8.p-0=link_to_self(gallery)

      -if !@photographer.galleries.where("view_name != 'gallery'").empty?
        %h2.normal-title.upcase.mb-1 Related Stories
        .pull-left.clear.mb-2
          -@photographer.galleries.where("view_name != 'gallery'").each do |story|
            .media.mb-1
              =link_to(image_for(story, "60x60#", :class => 'media-object'), story, :class => 'pull-left')
              .media-body=link_to_self(story)
      -if !@photographer.links.empty?
        %h2.normal-title.upcase.mb-1 Contact
        .mb-2
          =render('photographers/contact_list', :links => @photographer.links)

      -if !@photographer.user_tags.empty?
        %h2.normal-title.upcase.mb-1 Tags
        %ul.tag-list.tag-list-horizontal
          -@photographer.user_tags.each do |tag|
            %li
              =link_to_tag(tag, :label_options => {:method => :titleize})
  .row
    .col-md-12
      =options_panel do
        =back_link
        =link_if_can("Edit photographer", [:edit, @photographer])
        =link_if_can("Delete photographer", [:destroy, @photographer], :confirm => "Are you sure - this will also delete all the photographer's photos?")
        -if !@photographer.has_latest_edition?
          =link_if_can("Create profile for #{Settings.editions.last}", [:clone, @photographer], :confirm => "Are you sure you want to create a profile for #{Settings.editions.last}?", :method => :post)
