#about_intro.span8
  .row
    #intro_box.span4.offset4
      .padding
        %h1
          About unseen
        %p
          Unseen is an international photography fair focusing on undiscovered photographic talent and unseen work by well-known photographers. Its first edition will take place from 19 to 23 September in Amsterdam. Unseen celebrates the start of the gallery season in a unique way.
        %p
          The first photography fair in the Netherlands aimed at a global audience, Unseen is an initiative of renowned photography museum Foam; Platform A, an agency for innovative cultural entrepreneurship; and Foam’s branding agency, Vandejong. Their combined expertise lays a solid foundation for Unseen. Foam has been at the heart of the photography world for over ten years and today, with its own global magazine and various international initiatives, it has grown into a global photography brand with a far-reaching, international network.
.span8
  .row
    #shop_box.home_box.span3
      %h3
        A destination for unseen and unknown photography  
      %p
        Unseen lends new photography the platform it deserves. It is a meeting place where enthusiasts can discover unknown photography by young, emerging talent as well as new work by established artists. It provides a unique platform for galleries focusing on new developments and a place for a broad audience to see unfamiliar and groundbreaking work. Unseen will bring together supply and demand in a market for new work by up-and-coming as well as established photographers. Unseen challenges galleries to show new work.
        
    .home_box.span3
      %h3
        New inspiration for collectors
      %p
        Unseen serves as a source of inspiration for photography collectors and enthusiasts from around the world. We spare no effort in drawing them to Amsterdam. Unseen will fuel photography lovers’ desire by showing work of outstanding quality. our extensive selection of galleries ensures that visitors of the fair will see only the best, latest and most surprising photography. 
    .home_box.span2
      %h3
        Contact
      %p
        PO Box 15650
        %br
        1001 ND Amsterdam 
        %br
        The Netherlands
      %p
        www.unseenamsterdam.com
        %br
        info@unseenamsterdam.com
    .home_box.span2
      %h3 Sign up       


