#about_intro.span8
  .row
    #intro_box.span4.offset4
      .padding
        %h1
          About unseen
        %p
          Unseen is an international photography fair focusing on undiscovered photographic talent and unseen work by well-known photographers. Its first edition will take place from 19 to 23 September in Amsterdam. Unseen celebrates the start of the gallery season in a unique way.
        %p
          The first photography fair in the Netherlands aimed at a global audience, Unseen is an initiative of renowned photography museum Foam; Platform A, an agency for innovative cultural entrepreneurship; and Foam’s branding agency, Vandejong. Their combined expertise lays a solid foundation for Unseen. Foam has been at the heart of the photography world for over ten years and today, with its own global magazine and various international initiatives, it has grown into a global photography brand with a far-reaching, international network.
.span8
  .row
    #shop_box.home_box.span3
      %h2
        Unseen collection and shop
      %p
        At Unseen photo fair an ideal photography-buying climate is created together with the participating gallerists, who are offered the option to contribute to the events’ programming. Unseen is designed not just for an international audience of photography collectors, heads of corporate collections and photography lovers but also for first-time buyers.

        especially for these new collectors, the Unseen collection is founded, a separate selection of prints with prices below €1,000. The central Unseen Bookshop will sell your photography books and catalogues.
        
    .home_box.span3
      %h2
        A festival touch
      %p
        Unseen is a fair with a festival flair. Additional on- site events will include a print fair, exhibitions, debates, film screenings and lively evening events. This broad spectrum of activities will ensure a festive ambiance and serves as an important reason for an international audience to come to Amsterdam. Foam magazine’s Talent issue will be launched and exhibited on the Unseen fair site, the Westerpark cinema will play a special Unseen programme and documentary photography foundation Dutch Doc will add a documentary component to the versatile Unseen programme. other prominent parties, with whom we are currently in talks, have shown great interest in collaborating with Unseen for the fair’s side- programming. New names and activities will be confirmed over time on unseenamsterdam.com.  
    .home_box.span2
      %h3 Sign up 


