.span8
  %h1#page_title Galleries
.span8
  .row
    #shop_box.gallery_box.fade_in.fade_one.span4
      =link_to "/wireframes/gallery" do
        .gallery_text
          %h3
            Galerie – Reflex Amsterdam 
          %p
            In pellentesque faucibus vestibulum. Nulla at nulla justo, eget luctus tortor. Nulla facilisi. Duis aliquet egestas purus in blandit. Curabitur vulputate, ligula lacinia scelerisque tempor, lacus lacus ornare ante, ac egestas.
        =image_tag "gallery_image.jpg", :class=>"gallery_image"    
    #shop_box.gallery_box.fade_in.fade_one.span4
      =link_to "/wireframes/gallery" do
        .gallery_text
          %h3
            Galerie – Reflex Amsterdam 
          %p
            In pellentesque faucibus vestibulum. Nulla at nulla justo, eget luctus tortor. Nulla facilisi. Duis aliquet egestas purus in blandit. Curabitur vulputate, ligula lacinia scelerisque tempor, lacus lacus ornare ante, ac egestas.
        =image_tag "gallery_image_2.jpg", :class=>"gallery_image"    
    #shop_box.gallery_box.fade_in.fade_two.span4
      =link_to "/wireframes/gallery" do
        .gallery_text
          %h3
            Galerie – Reflex Amsterdam 
          %p
            In pellentesque faucibus vestibulum. Nulla at nulla justo, eget luctus tortor. Nulla facilisi. Duis aliquet egestas purus in blandit. Curabitur vulputate, ligula lacinia scelerisque tempor, lacus lacus ornare ante, ac egestas.
        =image_tag "gallery_image_3.jpg", :class=>"gallery_image"    
    #shop_box.gallery_box.fade_in.fade_two.span4
      =link_to "/wireframes/gallery" do
        .gallery_text
          %h3
            Galerie – Reflex Amsterdam 
          %p
            In pellentesque faucibus vestibulum. Nulla at nulla justo, eget luctus tortor. Nulla facilisi. Duis aliquet egestas purus in blandit. Curabitur vulputate, ligula lacinia scelerisque tempor, lacus lacus ornare ante, ac egestas.
        =image_tag "gallery_image_4.jpg", :class=>"gallery_image"    
    #shop_box.gallery_box.fade_in.fade_three.span4
      =link_to "/wireframes/gallery" do
        .gallery_text
          %h3
            Galerie – Reflex Amsterdam 
          %p
            In pellentesque faucibus vestibulum. Nulla at nulla justo, eget luctus tortor. Nulla facilisi. Duis aliquet egestas purus in blandit. Curabitur vulputate, ligula lacinia scelerisque tempor, lacus lacus ornare ante, ac egestas.
        =image_tag "gallery_image_5.jpg", :class=>"gallery_image"    
    #shop_box.gallery_box.fade_in.fade_three.span4
      =link_to "/wireframes/gallery" do
        .gallery_text
          %h3
            Galerie – Reflex Amsterdam 
          %p
            In pellentesque faucibus vestibulum. Nulla at nulla justo, eget luctus tortor. Nulla facilisi. Duis aliquet egestas purus in blandit. Curabitur vulputate, ligula lacinia scelerisque tempor, lacus lacus ornare ante, ac egestas.
        =image_tag "gallery_image_6.jpg", :class=>"gallery_image"    
    #shop_box.gallery_box.fade_in.fade_four.span4
      =link_to "/wireframes/gallery" do
        .gallery_text
          %h3
            Galerie – Reflex Amsterdam 
          %p
            In pellentesque faucibus vestibulum. Nulla at nulla justo, eget luctus tortor. Nulla facilisi. Duis aliquet egestas purus in blandit. Curabitur vulputate, ligula lacinia scelerisque tempor, lacus lacus ornare ante, ac egestas.
        =image_tag "gallery_image_7.jpg", :class=>"gallery_image"    
    #shop_box.gallery_box.fade_in.fade_four.span4
      =link_to "/wireframes/gallery" do
        .gallery_text
          %h3
            Galerie – Reflex Amsterdam 
          %p
            In pellentesque faucibus vestibulum. Nulla at nulla justo, eget luctus tortor. Nulla facilisi. Duis aliquet egestas purus in blandit. Curabitur vulputate, ligula lacinia scelerisque tempor, lacus lacus ornare ante, ac egestas.
        =image_tag "gallery_image_8.jpg", :class=>"gallery_image"                                            