.container
#parallax_1.parallax.parallax-subnav
  .subnav-strip
    .container
      .row
        .col-md-2
          =link_to raw("&larr; home"), "/", :class=>"subnav-back-link"
        .col-md-10.subnav-tabs  
          %ul
            %li=link_to "Public", "/public", :class=>"subnav-tab active"
            %li=link_to "Collectors", "/collectors", :class=>"subnav-tab"
            %li=link_to "First-time buyers", "/first-time-buyers", :class=>"subnav-tab"
            %li=link_to "Professionals", "/professionals", :class=>"subnav-tab"
            %li=link_to "VIP", "/vip", :class=>"subnav-tab"
            %li=link_to "Press", "/press", :class=>"subnav-tab"        
.container
  .row
    .col-md-8.col-md-offset-2.highlight-intro
      %h1.big-title.center.highlight-title
        Discover
      %h2.small-title.highlight-title
        Discover new photographic talent and new work of established photographer.
  .row
    .carousel
      .col-md-4.carousel-list
        %ul
          %li.active Special VIP program
          %li Overview participating galleries
          %li Lecture by collector Bill Hunt
          %li Sign up for our collectors tour on Friday          
      .col-md-8.carousel-image
        =image_tag ("carousel-image.jpg")
        .col-md-6.carousel-text
          %p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the...
          %p
            &rarr; Read more
            
    .col-md-3.col-md-offset-5
      =link_to("More", "#", :class => "black-btn more-middle")

      
      
