.container
  .row
    .span8.offset2.highlight-intro
      %h1.big-title.center.highlight-title
        Program 2012
  .row
    .carousel
      .span4.carousel-list
        %ul
          %li.active Unseen Photo Fair guided tours
          %li Bal Masqué
          %li Foam Talent Exhibition maximum title here is over three lines
          %li Unseen Photo Fair          
      .span8.carousel-image
        =image_tag ("carousel-image-2.jpg")
        .span6.carousel-text
          %p Offprint Amsterdam is a book fair of international publishers, artists and designers showcasing the best of contemporary art publications.
          %p
            &rarr; Read more
          
    .span3.offset5
      =link_to("Full program", "#", :class => "black-btn more-middle")
#parallax_1.parallax.parallax-subnav
  .subnav-strip
    .container
      .row
        .span10.subnav-tabs.program-subnav-tabs  
          %ul
            %li
              =link_to "#", :class=>"subnav-tab program-tab" do
                Wednesday
                %br
                19.09
            %li
              =link_to "#", :class=>"subnav-tab program-tab active" do
                Thursday
                %br
                20.09
            %li
              =link_to "#", :class=>"subnav-tab program-tab" do
                Friday
                %br
                21.09
            %li
              =link_to "#", :class=>"subnav-tab program-tab" do
                Saturday
                %br
                22.09                                  
            %li
              =link_to "#", :class=>"subnav-tab program-tab" do
                Sunday
                %br
                23.09
        .span2.block-or-line
          =link_to "#", :class=>"block-or-line-icon show-line active" do
            %span.hide show as line
            .sl
            .sl
            .sl        
          =link_to "#", :class=>"block-or-line-icon show-block" do
            %span.hide show as block
            .sb
            .sb
            .sb
            .sb
            .sb
            .sb
            .sb
            .sb
            .sb
.program-list.strip
  .container
    .row
      .span12
        %h1.big-title.center
          20 September
      .span12.program-item
        .row
          .span7
            %h3.small-title.program-title
              =link_to "Foam Talent Exhibition in the Westerpark", "#"
            %p.program-subtitle
              14.00 – 17.00 at place x 
              =link_to "category name", "#", :class=>"tag"
          .span4.offset1  
            =link_to "Add to my program", "#", :class=>"white-btn add-to-program"
      .span12.program-item
        .row
          .span7
            %h3.small-title.program-title
              Unseen Market: Actively matching supply and demand
            %p.program-subtitle
              ALL DAY  at Westerpark
              =link_to "category name", "#", :class=>"tag"
          .span4.offset1  
            =link_to "Add to my program", "#", :class=>"white-btn add-to-program"
      .span12.program-item
        .row
          .span7
            %h3.small-title.program-title
              Offprint Opening
            %p.program-subtitle
              15:00–17:00 at Westerpark 
              =link_to "category name", "#", :class=>"tag"
          .span4.offset1  
            =link_to "Add to my program", "#", :class=>"white-btn add-to-program"
            =link_to "Buy tickets", "#", :class=>"white-btn buy-ticket-btn"
      .span12.program-item
        .row
          .span7
            %h3.small-title.program-title
              Offprint
            %p.program-subtitle
              15:00–20:00 at Place X 
              =link_to "category name", "#", :class=>"tag"
          .span4.offset1  
            =link_to "Add to my program", "#", :class=>"white-btn add-to-program"
            =link_to "Buy tickets", "#", :class=>"white-btn buy-ticket-btn"
      .span12.program-item
        .row
          .span7
            %h3.small-title.program-title
              Dutch Doc Documentary Night
            %p.program-subtitle
              8:00–21:00 at Westerpark 
              =link_to "category name", "#", :class=>"tag"
          .span4.offset1  
            =link_to "Add to my program", "#", :class=>"white-btn add-to-program"
            =link_to "Buy tickets", "#", :class=>"white-btn buy-ticket-btn"
      .span12.program-item
        .row
          .span7
            %h3.small-title.program-title
              Unseen hosts: XXX
            %p.program-subtitle
              22:00–LATE at Club X 
              =link_to "category name", "#", :class=>"tag"
          .span4.offset1  
            =link_to "Add to my program", "#", :class=>"white-btn add-to-program"
                                                        
            
            
          
          
          
          