.container
=render("pages/toggle_nav") unless params[:edition] == 'bgl'
.container
  .row
    .span12.center
      %h1.big-title#collection-title
        -if params[:edition] == 'bgl'
          BankGiro Loterij
        -else
          Unseen Collection
    .span10.offset1.center
      -if params[:edition] == 'bgl'
      -else
        %h2.mb-15
          The Unseen Collection is a unique collection of works
          %br
          for under 1,000 euro, contributed by galleries
          %br
          participating at the Unseen Photo Fair
  .row.mt-2
    .span12
      .row
        .span12
          -@collection_photos.each_slice(3) do |photos|
            .row.mb-2
              =render "photos", :photos => photos
  -unless params[:edition] == 'bgl'
    .row
      .span8
        .btn-group.btn-group-edition#collection
          .btn Collection
          .btn.dropdown-toggle{ :'data-toggle' => 'dropdown' }
            %i.icon-caret-down
          %ul.dropdown-menu
            -editions.each do |edition|
              %li{ :class => params[:edition] == edition ? 'active' : '' }
                =link_to collection_photos_edition_path(edition) do
                  =edition
  -if can?(:new, CollectionPhoto) && (params[:edition] == Settings.current_edition || params[:edition] == 'bgl')
    .row
      .span12
        =options_panel do
          =link_to("+ Add a photo", new_collection_photo_path(:edition => (params[:edition] == 'bgl' ? 'bgl' : nil)), :class => "btn")