.container
=render("pages/toggle_nav") unless params[:edition] == 'bgl'
.container
  .row
    .col-md-12.center
      %h1.big-title#collection-title
        -if params[:edition] == 'bgl'
          De BankGiro Loterij
          %br
          Talent Collectie
        -else
          Unseen Collection
    .col-md-10.col-md-offset-1.center
      %h2.mb-15
        =snippet_text("unseen_collection_intro_#{params[:edition]}", "The Unseen Collection is a unique collection of works\nfor prices up to 1,000 euros, contributed by galleries\nparticipating at Unseen Photo Fair #{params[:edition]}").gsub(/\n/, '<br/>').html_safe
        %small=edit_snippet_link("unseen_collection_intro_#{params[:edition]}")
  .row.mt-2
    .col-md-12
      .row
        .col-md-12
          -@collection_photos.each_slice(3) do |photos|
            .row.mb-2
              =render "photos", :photos => photos
  -unless params[:edition] == 'bgl'
    .row
      .col-md-8
        .btn-group.btn-group-edition#collection
          .btn Collection
          .btn.dropdown-toggle{ :'data-toggle' => 'dropdown' }
            %i.icon-caret-down
          %ul.dropdown-menu
            -editions.each do |edition|
              %li{ :class => params[:edition] == edition ? 'active' : '' }
                =link_to collection_photos_edition_path(edition) do
                  =edition
  -if can?(:new, CollectionPhoto)
    .row
      .col-md-12
        =options_panel do
          =link_to("+ Add a photo", new_collection_photo_path(:edition => params[:edition]), :class => "btn")