.row
  .span2
    =link_to activity_item.resource, :class => "photo-image-link" do
      =image_for(activity_item.resource, "140x140")
  .span2
    =link_to_self(activity_item.user)
    is going to 
    =link_to_self(activity_item.resource)
    .small-info-text
      =time_ago_in_words(activity_item.created_at)
      ago