.row
  .span1
    =link_to activity_item.resource do
      =image_for(activity_item.resource, "60x60#")
  .span3
    =link_to_self(activity_item.user)
    favorited 
    =link_to "a photo", activity_item.resource
    .small-info-text
      =time_ago_in_words(activity_item.created_at)
      ago