.row
  .span2
    =link_to activity_item.user, :class => "photo-image-link" do
      =image_for(activity_item.user, "140x140")
  .span2
    =link_to_self(activity_item.user)
    joined the community
    .small-info-text
      =time_ago_in_words(activity_item.created_at)
      ago