.row.activity-item
  .col-md-12
    =link_to activity_item.user, :class => "photo-image-link" do
      =image_for(activity_item.user, "60x60")
  .col-md-12
    =link_to_self(activity_item.user)
    joined the community
    %div
      =time_ago_in_words(activity_item.created_at)
      ago