.col-md-3.photo.mb-1
  =photo.photographer ? (link_to image_for(photo, "140x140"), photo) : image_for(photo, "140x140", :class => "photo-image-link")
  -if photo.is_a?(Slide)
    %p.gallery=photo.caption
  -elsif photo.photographer
    %p.photographer=link_to_self(photo.photographer)
    -if photo.photographer.galleries.first
      %p.gallery=link_to_self(photo.photographer.galleries.first)
  .clearfix