/* @override 
	http://localhost:3000/assets/application.css?body=1
*/

/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_tree ./core
 *= require formtastic-bootstrap
 *= require ym_core
 *= require jquery-ui-bootstrap 
 *= require font-awesome 
 *= require font-awesome-social
 *= require redactor
 *= require ym_cms
 *= require ym_posts
 *= require ym_search
 *= require ym_tags
 *= require_self
*/

/*========== Bootstrap extensions ==========*/
.icon-gray {
  background-image: url("/assets/core/glyphicons-halflings-gray.png");
}
.radio {
  padding-left: 0;
}
.radio .choices {
  padding-left: 28px;
}
dl dd {
  font-weight: normal;
}
.dl-horizontal dt {
  width: 150px;
}
.dl-horizontal dd {
  margin-left: 160px;
}
.underline {
  text-decoration: underline;
}
.tooltip-inner {
  border: 2px solid #211d1d;
  border-radius:0;
  font-size: 13px;
  text-transform: uppercase;
}
.tooltip-white .tooltip-inner {
  border-color: white;
  color: #211d1d;
  background: #fff;
}
.tooltip-white.bottom .tooltip-arrow {
  border-bottom: 5px solid white;
}
.btn-group.open {

}
ul.dropdown-menu.pull-right {
  left: 0px;
  top: 26px;
  right: auto;
}


/*========== CSS3 magic ==========*/

@-webkit-keyframes reset {
0% {
    opacity: 0;
}
100% {
    opacity: 0;
}
}
 
@-webkit-keyframes fade_in {
0% {
    opacity: 0;
}
60% {
    opacity: 0;
}
100% {
    opacity: 1;
}
}

.fade_in {
    -webkit-animation-name: reset, fade_in;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-iteration-count: 1;
}
 
.fade_in.fade_one {-webkit-animation-delay: 0, 0;}
.fade_in.fade_two {-webkit-animation-delay: 0, 0.3s;}
.fade_in.fade_three {-webkit-animation-delay: 0, 0.6s;}
.fade_in.fade_four {-webkit-animation-delay: 0, 0.9s;}
.fade_in.fade_five {-webkit-animation-delay: 0, 1.2s;}
.fade_in.fade_six {-webkit-animation-delay: 0, 1.5s;}


/*========== Font ==========*/

h1,
h2,
h3,
h4,
h5,
h6,
.nav ul,
a.category,
.small-title p,
.share_this p,
.share-link-text,
b,
.share_this,
.black-btn,
.white-btn,
.btn-group.btn-group-edition .btn,
.btn-group.btn-group-edition .btn a,
.session_hover p.title {
  font-family: "Apercu Bold", "calibri", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-weight: normal;
}
h2.home-title, .big-title, .about_page_view #page_title, #page_title {
  font-size: 60px;
  line-height: 60px;
  text-transform: uppercase;
}
form #page_title {
  text-transform:none;
}
.home-slide-title, .medium-title {
  font-size: 36px;
  line-height: 36px;  
}
.nav ul, .nav li, #site_logo, h2#footer_site_logo, h2, .are-you-title, .block-title, .home-subtitle, .small-title, .small-title p, .share_this p {
	font-size: 26px;
	line-height: 28px; 
}
h2.highlight-title {
  margin-bottom: 40px;
  margin-top: -20px;
  text-align: center;
}
.normal-title  {
  font-size: 16px;
  line-height: 20px;
  font-family: "Apercu Bold", "calibri", Arial, sans-serif;
  font-weight: normal;
  margin-bottom: 10px;
}
body, p,
div, input {
  font-family: "Apercu Regular", "calibri", Arial, sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}
input, a.call-to-action-link, .carousel-text p, p.event-image-caption, .share-link-text {
  font-size: 13px;
  line-height: 16px;
}
.center {
  text-align: center;
}
.nocase {
  text-transform: none;
}
.mt-1 {
  margin-top: 20px;
}
.mt-2 {
  margin-top: 40px;
}
.mt-3 {
  margin-top: 60px;
}
.mb-1 {
  margin-bottom: 20px;
}
.mb-15 {
  margin-bottom: 30px;
}
.mb-2 {
  margin-bottom: 40px;
}
.mb-3 {
  margin-bottom: 50px;
}

.related-text {
  margin-left: 10px;
}

/*========== Structure ==========*/

* {
  margin: 0;
}
html, body {
  height: 100%;
}
body {
  background: #fff;
  color: #211d1d;
}
a {
  color: #211d1d;
  text-decoration: none;
}
form a {
  color: #08C;
}
form a:hover {
  color: #ccc;
}
a:hover {
 text-decoration: underline; 
 color: #211d1d;
}
p {
/*  font-family: georgia;*/
}
input {
  border-radius:0;
  -webkit-border-radius:0;
  -moz-border-radius:0;
  border-color: #211d1d;
}
input#page_title {
  font-size: 19px;
  line-height: 22px;
  margin: 0 0 15px;
}
h1 a,
h1 a:hover,
h2 a,
h2 a:hover,
h3 a,
h3 a:hover,
h4 a,
h4 a:hover,
h5 a,
h5 a:hover,
h6 a,
h6 a:hover {
  text-decoration: none;
}
.hide {
  display: none;
}
.black-btn,
.white-btn,
.btn-group.btn-group-edition .btn {
 color: white;
 border-radius:0;
 box-shadow:none;
 text-shadow:none;
 background-color: #211d1d;
 padding: 4px 8px;
 text-decoration: none;
 font-size: 16px;
 text-transform: uppercase;
 border: 2px solid #211d1d;
}
input.black-btn {
  background: #211d1d;
}
.more-middle {
  margin-left: 20px;
  margin-bottom: 40px;
  clear: both;
  float: left;
}

.black-btn:active {
  background:#211d1d;
}
.black-btn.active,
.black-btn:hover {
  background-color: #fff;
  color: #211d1d;
  border-color: #211d1d;
  text-decoration: none;
}
.white-btn, .white-btn:hover,
.btn-group.btn-group-edition .btn {
  background-color: #fff;
  color: #211d1d;
}
.alert {
  margin-top: 20px;
}
/*========== Header ==========*/
.container {
  z-index: 1;
}
.site_text_hide {
  display: none;
}
#header {
  height: 120px;
  position: relative;
  z-index: 50;
}
.header-container {
  z-index: 10;
}
#header a {
  text-decoration: none;
}

#search_link {
  display: block;
  background: url(/assets/search_icon.png) no-repeat top left;
  text-indent: -9000em;
  width: 16px;
  height: 16px;
  margin: 1px 6px 0 8px;
  
}

/*hide search for now until we have it wired in*/
#search_icon {
  display: none;
}
.header-icon {
	display: block;
	float: right;
  width: 22px;
  height: 20px;
  font-size:18px;
}
.news_follow .header-icon {
	position: relative;
	float: left;
	margin: 5px 7px 0 0;
}
#facebook_icon {
	background-position: -20px 0px;
}
.news_follow #facebook_icon {
	background-position: -22px 0px;
}
.news_follow #twitter_icon {
	background-position: -44px 0px;
}
#twitter_icon {
	background-position: -40px 0px;
}
#site_logo {
	float: left;
	font-weight:normal;
	margin: 14px 0 0;
	width: 100%;
}
#site_logo span {
  float: left;
  clear: left;
  width: 100%;
}
#header_right {
  float: right;
  margin-top:15px;
}
#header_right h2 {
  text-align: right;
  float: right;
}
#header_right h2 span {
	float: right;
	clear: right;
}
#footer.container {
  padding-top: 40px;
  padding-bottom: 40px;
  z-index: 3;
  clear: left;
  background: white;
}
#footer h2 span {
  display:block;
  float: left;
  clear: both;
}
#footer .nav {
  margin-top:0;
}
.nav {
  min-height: 0px;
  margin: 0px 0 0;
  
}
.nav li{
  float:left;
  margin-right:14px;
}
.nav li.amsterdam-link {
	margin-right:0;
  
}
.nav a {
  text-decoration: none;
}
.nav a:hover {
  border-bottom: 4px solid;
}
.root_slug_amsterdam li.amsterdam-link a, .root_slug_news li.news-link a, .root_slug_info li.info-link a, .controller_events li.programme-link a, .root_slug_galleries li.galleries-link a, .root_slug_galleries_2013 li.galleries-link a , .controller_photographers.action_edition li.galleries-link a, .controller_collection_photos.action_index li.galleries-link a, .controller_community li.community-link a {
   border-bottom: 4px solid;
}
#logged-in-dropdown {
  float: left;
  margin: 0 0 0 20px;
}
#logged-in-dropdown .icon-user {
  margin-right: 5px;
}
/*.nav .active a {
  background: url(/assets/nav_active.png) no-repeat bottom left;
  padding-bottom: 4px;
}*/
#header-links {
  margin: 24px 0 0 0;
  height: 45px;
  width: 100%;
  position: relative;

}
a.header-link {
  float: right;
  margin: 0 14px 0 0;
}
.controller_press_releases a.press-link, .root_slug_press2 a.press-link, .root_slug_about a.about-link, .controller_users.action_show a.profile-link, .controller_registrations.action_new a.sign-up-link, .controller_sessions.action_new a.sign-in-link {
  border-bottom: 2px solid #211D1D;
}

#buy-ticket-link {
	margin: -5px 0 0 20px;
	float: right;
}
.big_background {
  float: right;
  width: 100%;
  height: 600px;
  position: absolute;
  top: 0;
  z-index: 0;
}
#home .big_background {
  background: url(/assets/photo_bg.jpg) repeat-x 0 -300px;
}
.container {

  position: relative;
}
h1 {
  margin: 55px 0 55px;
}
.about_page_view #page_title {
  text-align: center;
  width: 100%;
  float: left;
  margin-bottom: 40px;
}
.about_page_view  #page_text_second a {
	text-decoration: none;
  
}


#intro_box {
  margin-top: 0px;
  margin-bottom: 20px;
  background:rgba(0,0,0,0.6);
  padding: 0px;
}
#intro_box .padding {
  padding-bottom: 20px;
}
#intro_box p {
  font-size: 16px;
  line-height: 21px;
  margin: 10px 0 0;
}
.intro_box {
	margin-bottom: 30px;
}
.amsterdam_text {
  margin-top: 25px;
  margin-bottom: 40px;
}

h1.gallery-title {
  margin-top: 25px;
  margin-bottom:7px;
}
h3.slide-title {
  margin-bottom: 11px;
}
.root_slug_galleries h3.slide-title {
  font-size: 26px;
  line-height: 28px; 
  margin-bottom:0px;
}

.gallery_box {
	height: 200px;
	margin-bottom: 30px;
	overflow: hidden;
	position: relative;
  
}
.gallery_box {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  
}
.gallery_text {
  padding: 10px;
  position: relative;
  height: 200px;
  z-index: 20;
  
  /*-webkit-box-shadow:inset 0px 1px 5px rgba(255,255,255,0.3), inset 0px 1px 0px rgba(255,255,255,0.3);*/
  
  border-radius:2px
}
.gallery_box:hover {
  opacity: 0.8;
}
.gallery_box a {
  color: rgba(0,0,0,0);
  float: left;
  width: 100%;
  height: 200px;
}
.gallery_box h3 {
  background: rgba(0,0,0,0.4);
  float: left;
  position: absolute;
  bottom: 20px;
  width: 370px;
  left: 0px;
  font-size: 15px;
  line-height: 15px;
  padding: 5px 10px 10px;
}
.gallery_box a:hover {
  color: rgba(0,0,0,1);
  text-decoration: none;
  
}
.gallery_box a:hover .gallery_image {
	opacity: 0.6;
}
#about_intro {
  background: url(/assets/about_page.png) no-repeat 90px 20px;
}

#galleries_intro_text {
	margin-bottom: 30px;
}
h1#galleries_title {
	margin-bottom: 25px;
}
h1#news_title {
	text-align: center;
	width: 100%;
}
.list_box {
  margin-bottom:42px;
}
.list_image {
  clear: both;
  margin-bottom: 20px;
}
.list_title {
  margin-bottom:5px;
}
.list_date_and_tag, .list_read_more {
	margin: 0;	
	width: 100%;
	font-size: 16px;
	line-height: 20px;
}
.list_date_and_tag {
	margin: 4px 0 0;
}
.list_date_and_tag > span {
  float:left;
  margin-right:5px;
  margin-top:3px;
}
.list_read_more, .list_date {
  float: left;
  clear: left;
  text-decoration:none;
}
/*========== Block view ==========*/
.block-image {
  margin-bottom: 25px;  
}
.block-image-press-release{
  background:#324C82;
  height:200px;
  width:300px; 
}
.block-text {
  height: 180px;
}
h4.sub-heading {
  text-transform: uppercase;
  font-family: "Apercu Bold", "calibri", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  margin-bottom: 5px;
}
/*========== List view ==========*/

/*========== Footer ==========*/

#footer_site_logo {
  font-size:24px;
}
#footer.container {
  z-index: 3;
  background: white;
}
#footer h2 span {
  display:block;
}
#footer .nav {
  margin-top:0;
}
.main_wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -160px; /* the bottom margin is the negative value of the footer's height */
}
.push {
  clear: both;
   height: 160px;  
}
.footer_wrapper {
	clear: both;
	height: 160px;
  
}


/*
Sticky Footer by Ryan Fait
http://ryanfait.com/
*/

/*========== Formtastic ==========*/

form.formtastic {
  background-color: white;
}
form .tab-pane fieldset {
  padding: 20px 20px 0 20px;
}
form.formtastic .form-actions input {
  margin: 0;
}
form.formtastic .form-actions a.btn {
  text-decoration: none;
}

/*========== Homepage ==========*/

body.controller_home #footer.container, body.controller_fair #footer.container {
  padding: 40px 0;
}
#second .facebook {
  position: relative;
  height: 230px;
  margin-bottom: 30px;
}
#second .facebook .home_small_title {
  width: 100%;
}
#second .facebook .fb-like {
  position: absolute;  
  background: white;
  z-index: 4;
  top: 30px;
  padding: 13px 0;
}
#second .facebook .fb-like-box {
  position: absolute;
  top: 70px;
  left: -10px;
  overflow: hidden;
  height: 150px;
  width: 100%;
}
#second .facebook .fb-like-box iframe {
  float: left;
  margin-top: -112px;
}
#second .twitter h4 {
  margin-bottom: 10px;
}
i.twitter_bird {
  background: url(/assets/twitter_bird.png);
  width: 32px;
  height: 18px;
  display: inline-block;
}
.home_small_title {
  margin-bottom: 10px;
  display: block;
}
.facebook.news_follow {
  margin-top: 40px;
}
.news_follow .home_small_title {
  margin: 0;
  font-size: 18px;
}

a.home_small_title, a.home_small_title:hover {
  text-decoration: none;    
}
#fifth {
	background-position:  50px -45px;
}
.home_box {
	z-index: 0;
	position: relative;
    float: left;
  clear: both;
  width: 100%;
  overflow: hidden;
  height: 147px;
  background: #211d1d url(/assets/home_bg_1.jpg);
}
#unseen_big_logo {
  position: fixed;
  top: 80px;
  left: 0;
  background: url(/assets/unseen_bg.png) no-repeat center top;
  width: 100%;
  height: 762px;
  z-index: 0;
}
#intro {
	margin-bottom: 0px;
	background-position: 50% -185px;
	position: relative;
}
#tenth {
	background-position: 50% 201px;

}
.artist_name {
  display: block;
  float: left;
  position: absolute;
  top: 70px;
  right: 0px;
  width: 170px;
  height: 500px;
  background: url(/assets/artist_name_1.png) no-repeat 50%;
}
.home_bg_1 {
  background: #3b421f url(/assets/home_bg_1.jpg) 50% 201px fixed;
}
.bg1 {
  width: 406px;
  height: 605px;
  margin: 0px auto;
  position: absolute;
  top: -100px;
  left: 35%;
  background-repeat:repeat-y;
}
.home_bg_1 .bg1 {
   background-image: url(/assets/home_bg_inner_1.png);
}
.home_bg_2 {
  background: #6cbbc2 url(/assets/home_bg_2.jpg) 50% 0 fixed;
}
.home_bg_2 .bg1 {
   background-image: url(/assets/home_bg_inner_2.png);
}
.home_bg_3 .bg1 {
   background-image: url(/assets/home_bg_inner_3.png);
}
.home_bg_4 .bg1 {
   background-image: url(/assets/home_bg_inner_4.png);
}
.home_bg_5 .bg1 {
   background-image: url(/assets/home_bg_inner_5.png);
}
.home_bg_2 .artist_name {
  background-image: url(/assets/artist_name_4.png);
}
.home_bg_3 {
  background:#211d1d url(/assets/home_bg_3.jpg) 50% 0  fixed;
}
.home_bg_3 .artist_name {
  background-image: url(/assets/artist_name_6.png);
}
.home_bg_4 {
  background: #638a8e url(/assets/home_bg_4.jpg) 50% 0 fixed;
}
.home_bg_4 .artist_name {
  background-image: url(/assets/artist_name_8.png);
}
.home_bg_5 {
  background:#e2d3cb url(/assets/home_bg_5.jpg) 50% 0 fixed;
}
.home_bg_5 .artist_name {
  background-image: url(/assets/artist_name_10.png);
}

#second {
  margin-top: 100px;
  padding-top: 0px;
  z-index: 3;
  background-position: 50% 87px;
  
}
#second #latest_news .span3 {
  margin-bottom: 20px;
}
#second #latest_news .span3 a {
  text-decoration: none;
}
#second .span6 .span4 {
  margin-bottom: 10px;
}
#second .tweet_box {
  padding: 10px;
  border: 2px solid #211d1d;
}
#second .twitter_handle {
  font-size: 12px;
  margin: 5px 0 0 20px;
}
#second #newsletter_signup {
  margin-top: 40px;
}
#second #newsletter_signup a.black-btn {

  float: left;
}
#second #newsletter_signup h2 {
  margin-bottom: 10px;
}
input#email {
  padding: 6px;
  color: #ccc;
  background: none;
  border: 1px solid #211d1d;
}
#email.footer-email-field {
  border: 1px solid #fff;
  border-radius:0;
}
#sixth .artist_name {
  right: auto;
  left: 0;  
}
#seventh {
}
#ninth {
  background: white url(/assets/home_bg_9.png) 50% 0 no-repeat scroll;	
  z-index: 3;
}
#eleventh {
  background: white;
  height: 213px;
  z-index: 3;
}
a.read_more {
	font-size: 16px;
	margin: 10px 0 0;
	float: left;
	clear: left;
}
.container {
  clear: both;
}
.strip {
	padding-top: 0px;
	float: left;
	clear: both;
	width: 100%;
	padding-bottom: 0px;
	background: #fff;
}
h2.home-title {
  text-align: center;
}
h2.are-you-title {
  text-align: center;
  margin: 30px 0 30px;
}
ul.are-you-list, ul.are-you-list li {
  margin: 0;
  padding: 0;
  float: left;
  list-style-type: none;
}
ul.are-you-list {
  margin-left: 160px;
  margin-bottom: 50px;
}

.are-you-link {
  margin-right: 20px;
}


h2.home-title {
	margin-top: 55px;
	margin-bottom: 55px;
}

/*========== Call to action ==========*/

#call-to-actions {
  background: #211d1d;
/*  background: #000000;*/
  color: #fff;
  position: relative;
  z-index: 1;
  padding-bottom: 40px;
}
#call-to-actions .home-title {
  color: #fff;
  margin-top:50px;
}
 #call-to-actions .home-subtitle {
	color: #fff;
	text-align: center;
	margin: 0 0 30px;
}
a.call-to-action-link {
  display: block;
  width: 60px;
  margin: 0px 0 0 10px;
  padding: 65px 0 0 ;
  height: 20px;
  text-align: center;
  float: left;
  color: #fff;
  background: url(/assets/footer.png) no-repeat -1495px 0px;
}
a.call-to-action-link:hover {
	text-decoration: none;
  background-position-y:-200px;
} 
a#social-facebook {
  background-position-x: -1395px;
}
.email-signup-form {
	float: left;
	margin: 0 0 0 50px;
  
}
#join-us-icon {
  background: url(/assets/join-us-icon.png) no-repeat center 10px;
  background: url(/assets/footer.png) no-repeat -1593px 0px;
  margin-left: 77px;
}
#app-icon {
  background: url(/assets/app-icon.png) no-repeat top center;
  background: url(/assets/footer.png) no-repeat -1697px 0px;
}
.news_page_signup .call-to-actions a {
  float: left;
  clear: both;
  margin-bottom: 10px;
}
#social-tumblr,
#social-linkedin {
  background-image: none;
  padding: 0;
}
#social-tumblr i,
#social-linkedin i {
  font-size: 45px;  
  color: black;
  background-color: white;
  width: 50px;
  height: 50px;
  margin-bottom: 15px;
  border-radius:10px;
  -webkit-border-radius:10px;
  -moz-border-radius:10px;  
}
#social-tumblr:hover i {
  background-color: #2C4762;
}
#social-linkedin:hover i {
  background-color: #50A1CB;
}



/*========== Sponsors ==========*/
#footer-sponsors {
  background: #D3D3D3;
  position: relative;
  z-index: 1;
  padding: 70px 0px 50px;
}
#footer-sponsors a{
  height:110px;
  background: url(/assets/footer.png) no-repeat 0px 0px;
  width:100%;
  float:left;
  text-indent: -9000em;
}

#footer-sponsors a:hover {
	text-decoration: none;
  background-position-y:-200px;
} 
#footer-sponsors #westergasfabriek{
  background-position-x:-500px;
  height:45px;
}
#footer-sponsors #iamsterdam{
  background-position-x:-800px;
  height:65px;
}
#footer-sponsors #cityofamsterdam{
  background-position-x:-1100px;
}

#footer-video iframe{
  margin-bottom: 60px;
}

/*==========  subnav tabs  ==========*/
body .parallax-subnav {
  height: 147px;
}
.subnav-strip {
  float: left;
  text-transform: uppercase;
  width: 100%;
  height: 64px;
  position: relative;
  padding: 0px;
  background: url(/assets/white-smoke.png);
  margin: 83px 0 0 0;
}
a.subnav-back-link {
	padding-top: 20px;
	float: left;
  
}
.subnav-tabs {
  float: right;
  width: auto;
}
body.root_slug_amsterdam .subnav-tabs,
body.root_slug_news .subnav-tabs,
body.controller_tags .subnav-tabs,
body.controller_community .subnav-tabs,
body.controller_users .subnav-tabs,
#community-nav .subnav-tabs,
.press-releases .subnav-tabs,
body.root_slug_press .subnav-tabs,
body.root_slug_galleries_2013 .subnav-tabs,
body.controller_photographers .subnav-tabs,
body.controller_collection_photos.action_index .subnav-tabs {
  float: left;
}
.subnav-tabs ul, .subnav-tabs li {
	list-style-type: none;
	margin: 0;
	float: left;
}
.subnav-tab {
	float: left;
	padding: 20px;
	height: 24px;
	text-align: center;
}
a.subnav-tab:hover {
  text-decoration: none;
  background: #fff;
} 
.subnav-tabs .active a,
.subnav-tabs .active span {
  background: #fff;
} 

#community-nav a.black-btn{
  float: right;
  margin: 15px 15px 0px 0px;
  width: 110px;
  text-align: center;
}
.block-or-line {
	float: right;
	margin: 10px 0 0;
}
.block-or-line-icon {
	display: block;
	text-indent: -9000em;
	float: right;
	clear: both;
	margin: 0px 0 8px 0;
	width: 24px;
	height: 18px;
}
.active .sb, .active .sl {
  background: #fff;
}
a.block-or-line-icon.active:hover .sb, a.block-or-line-icon.active:hover .sl {
	background: #211d1d;
  
}
a.block-or-line-icon:hover .sb, a.block-or-line-icon:hover .sl {
	background: #fff;
  
}

.sb {
  width: 6px;
  height: 3px;
  margin: 0 2px 3px 0;
  background: #211d1d;
  float: left;
}
.sl {
  width: 22px;
  margin: 0 2px 3px 0;
  height: 3px;
  background: #211d1d;
}

/*==========  program tabs  ==========*/
.program-subnav-tabs {
	float: left;
}
a.program-tab {
  width: 195px;
  padding-top: 12px;
  padding-bottom: 28px;
}
/*==========  program list  ==========*/
.program-title,
p.program-subtitle {
  margin-bottom: 7px;
}

.program-title a:hover{
  text-decoration:underline;
}
.program-item {
  padding-bottom: 25px;
  margin-bottom: 25px;
  border-bottom: 1px solid #211d1d;
}
.add-to-program {
  margin-right: 5px;
  width: 101px;
  text-align:center;
}
.add-to-program.loading,
.favourite-btn.loading {
  height:auto;
  text-indent:-9000em;
  background-color:#fff;
  border-color:#211d1d;
}

.buy-ticket-btn {
	float: right;
}
/*========== carousel ==========*/
.carousel {
  float: left;
  clear: both;
  margin: 0px 0 50px;
}
.carousel-list {
  float: right;
  margin: 0;
}
.carousel-list ul, .carousel-list li {
  float: left;
  list-style-type: none;
  margin: 0;
  width: 100%;
  text-transform: uppercase;
  text-align: center;
}
.carousel-list li {
  border-bottom: 1px solid #211d1d;
  padding: 25px 60px;
  width: 180px;
  cursor: pointer;
}
.carousel-list li.active a{
  color: #fff;
} 
.carousel-list li.active{
  background: #211d1d;
}
.carousel-image {
  position: relative;
  width:620px;
  height:380px;
  overflow:hidden;
  float:left;
  display:block;
}
.carousel-image img {
	float: left; 
}
.carousel-text p,
.carousel-text a {
  color: #fff;
  margin: 0;
}
.carousel-text {
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.5);
  margin: 0;
  padding: 10px;
}

/*========== Options panel ==========*/

.options_panel {
  margin-top: 20px;
  margin-bottom: 20px;
}

/*========== Page show ==========*/

.mercury_edit_link,
#mercury_edit_link {
  display:none;
}
#page_text a {
  text-decoration: underline;
}

#page_text .mercury_edit_link {
  text-decoration: none;
  font-size: 15px;
}
.mercury-textarea{
  color:#fff;
}
.new-page-box a {
  width: 100%;
  text-align: center;
  float: none;
  display: block;
  font-size: 19px;
  padding: 32px 0;
  border: 2px dashed #211d1d;
  text-decoration: none;
}
.new-page-box.span4 a {
  font-size: 30px;
}
.block-item .new-page-box a {
  height: 26px;
  padding: 85px 0;
}
/*========== Press page view ==========*/

#press_visuals {
	margin-top: 60px;
}
p.press_visual_txt {
	font-size: 14px;
	line-height: 16px;
	margin-top: 5px;
}
.press_visual {
  height: 210px;
}
.press_accreditation_text {
  margin-bottom: 30px;
}
.press_accreditation_text a {
  text-decoration: underline;
}

/*========== News page view ==========*/

.news_page #page_title {
  text-transform: none;
}
.news_page h1 {
  margin-bottom: 0;
  margin-top: 10px;
}
.news_page h3.sub-heading {
  text-transform: uppercase;
  font-family: "Apercu Bold", "calibri", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  margin-top: 55px;
}
.news_page_signup {
	margin-top: 0px;
	float: right;
}
.news_page_signup .mb-1 {
  margin-bottom: 5px;
}
.news_page .list_date_and_tag {
	margin: 15px 0 40px;
	float: left;
	clear: left;
  
}
.news_page_image {
  margin-bottom: 20px;
}
.share-btn {
  float: left;
  margin: 0 5px 0 0;
}
.share_this {
  float: left;
  width: 100%;
  margin-bottom: 40px;
  margin-top: 0px;
}
.share_link {
  display: block;
  float: left;
  margin: 0px 12px 0 0px;
	

}
.share-link-text {
  float: left;
  margin: 2px;
}
.share_link i {
  float: left;
  margin: 0 6px 0 0;
  font-size: 20px;

}
.share_link:hover {
  text-decoration: none;
} 
#twitter_share_link {


}
.share_this p {
  text-transform: uppercase;
  float: left;
}

/*========== Slideshow ==========*/

#add_slide_link {
  text-decoration: none;  
}
.slideshow_container {
  margin-bottom: 50px;
}
.photo-wrapper {
  position: relative;
  float: left;
  cursor: pointer;
}
.slideshow .slide-caption {
	font-size: 13px;
	line-height: 16px;
	margin-top: 10px;
	float: left;
}

/*========== Fair ==========*/

.fair_box {
  padding: 120px 0 200px;
  position: relative;
  z-index: 3;
}
.fair_box h2 span {
  font-size: 60px;
  line-height: 60px;
}
.fair_box h2 {
  margin:0 0 30px 0;  
  text-align:center;
  text-transform:uppercase;  
}
.fair_box p {
  font-size:20px;
  line-height:25px;
}
.fair_window {
  height: 250px;
  z-index: 1;
}
.fair_bg_1 {
  background: #211d1d url(/assets/home_bg_1.jpg) 50% 0 no-repeat fixed;
}
.fair_bg_2 {
  background: #211d1d url(/assets/home_bg_4.jpg) 50% 0 no-repeat fixed;
}
.fair_bg_3 {
  background: #211d1d url(/assets/home_bg_6.jpg) 50% 0 no-repeat fixed;
}
.fair_bg_4 {
  background: #211d1d url(/assets/home_bg_8.jpg) 50% 0 no-repeat fixed;
}
.fair_bg_5 {
  background: #211d1d url(/assets/home_bg_10.jpg) 50% 0 no-repeat fixed;
}
.scroll_to_fair_box {
  font-size: 25px;
  text-decoration: none;
  margin: 0px 0px 0 0;
  position: absolute;
  display: inline-block;  
  top: 0;
}
.scroll_down {
	left: 0;
}
.scroll_up {
  right: 0;
}
.scroll_to_fair_box:hover {
  text-decoration: none;
}
.scroll_to_arrows {
position: absolute;
bottom: -90px;
left: 450px;
width: 50px;
height: 40px;
}
#fair_options_panel {
  z-index: 2;
}
/*
#fair.container .row {
  margin-bottom: 150px;
}
#fair.container .row h1, #fair.container .row h2 {
  font-size: 35px;
  text-transform:uppercase;  
  text-align: center;
  margin-bottom: 30px;
}
#fair.container .row p {
  font-size: 20px;
  line-height: 25px;
}
*/

/*========== Image placeholders ==========*/
.placeholder770x446 {
  height:446px;
  width:770px;
}
.placeholder250x {
  width:250px;
}

/*========== Tags ==========*/
.tag {
  float:left;
  margin: 1px 4px 5px 0px;
}
.tag .tag-label {
  background-color: #E5E5E4;
  border-radius:0;
  -webkit-border-radius:0;
  -moz-border-radius:0;
  color: #211d1d;
  font-size: 13px;
  text-shadow: none;
  font-weight: normal;
  padding:4px 4px 5px;
  padding: 3px 8px 4px;
  float: left;
  text-shadow: 0px 1px 1px rgba(0,0,0,0.1);
}
a.tag:hover .tag-label {
  color: #211d1d;
  background-color: #fff;
}

/*========== Events ==========*/
.event-title{
  text-transform:none;
}
.meet-people-title{
  margin-bottom:10px;
}
#meet-people a{
  float:left;
}
.event-image-caption {
	margin-top: 7px;

}

/*========== User profiles ==========*/
.action-link a {
    color: #A0A0A0;
    font-size: 12px;
}

.span2 .photo-image-link {
  width: 140px;
  height: 140px;
  margin-bottom: 15px;
  position: relative;
  float:left;
}
.span2 .photo-image-link img {
  position: absolute;
  left: 0;
  bottom: 0;
}
.span2.photo p.photographer,
.span2.photo p.caption,
.span2.photo p.gallery {
  font-size: 13px;
  margin: 0;
  line-height: 16px;
  color: #211D1D;
}
.container.user-profile p.job-title { 
  font-family: "Apercu Regular", "calibri", Arial, sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: normal;
  margin-top: 4px;
  margin-bottom: 0px;
}

/*========== Community ==========*/

#event-list .popular-event {
  height: 65px;
  overflow: hidden;
  margin-bottom: 5px;
}

#event-list .program-item{
  border:none;
  padding-bottom: 0px;
  margin-bottom: 5px;
}

#event-list .event-right{
  margin-top:5px;
}

#event-list hr{
  border-color:#211d1d;
  border-bottom:none;
}

.community-person {
  height: 80px;
  overflow: hidden;  
}
.community-person .job-title {
  font-size: 14px;
}
ul.tag-list a span.label.selected {
  background-color: #819FF7;
  color: white;
}
.span4 .community-photo-image-link,
.span4 .collection-photo {
  width: 300px;
  height: 300px;
  margin-bottom: 10px;
  position: relative;
  float:left;
}
.span4 .community-photo-image-link img,
.span4 .collection-photo img {
  position: absolute;
  left: 0;
  bottom: 0;
}
.span4 p.photographer,
.span4 p.caption,
.span4 p.gallery {
  font-size: 13px;
  margin: 0;
  line-height: 16px;
  color: #211D1D;
}

.community-black-btn {
  text-align:center;
  padding: 4px 17px;
}

#community-black-btn-photos {
  padding: 4px 50px;
}
#community-black-btn-programme {
  padding: 4px 10px;
}
#community-black-btn-twitter {
  padding: 4px 35px;
}

.span2.community-person.mb-1.small-left-margin {
  margin-left: 10px;
}
#photo-list .span4 {
  height: 375px;
  overflow: hidden;
}

/*========== Favourite and links ==========*/

.favourite-btn {
  font-weight: bold;
  text-align: center;
  width: 120px;
}
.add-to-collection {
  color: #ccc;
  float: left;
  margin: 0;
  width: 15px;
}
.slideshow .add-to-collection {
  margin: 10px 0 0 10px;
}
.add-to-collection:hover,
.add-to-collection-active {
  color: #211d1d;
  text-decoration: none;
}
.add-to-collection.loading {
  height:auto;
  text-indent:-9000em;
}


/*========== Welcome ==========*/

#user_remember_me_input {
  margin-top:-10px;
  margin-bottom:10px;
}
.tag-list-centered {
  text-align: center;
}
.tag-list-centered .tag {
  display:inline-block;
  float:none;
  margin:0px 2px 4px 2px;
}
a.active .tag-label {
  background :#211d1d;
  color:#fff;
}

/*========== Login ==========*/
.oauth-login-link {
  display:inline-block;
  text-indent: -3000em;
  background: url(/assets/oauth_buttons.png) no-repeat;
  margin: 0px 10px 10px;
}
.facebook-login-link {
  background-position-y:0px;
  height: 22px;
  width: 160px;
}
.twitter-login-link {
  background-position-y:-50px;
  height: 24px;
  width: 151px;
}
.linkedin-login-link {
  background-position-y:-100px;
  height: 23px;
  width: 134px;
}

.login-form {
  float: right;
  padding-top:15px;
}
.login-or {
  float: left;
  margin: 35px 20px 0 0;
}
.login-auth-links {
  padding-top: 5px;
  float: left;
  width:220px;
}

/*========== activity_item-list ==========*/

.activity-item div,
.activity-item a{
  font-size: 13px;
  line-height: 17px;
}

#community-title,
#collection-title {
  margin-bottom:16px;
}

/*========== Edition dropdown selector ==========*/
.btn-group.btn-group-edition .btn {
  background-image: none;
}
.btn-group.btn-group-edition .btn:first-child {
  border-right: none;
}
.btn-group.btn-group-edition .btn.dropdown-toggle {
  border-left: none;
}
.btn-group.btn-group-edition .dropdown-menu {
  min-width: 140px;
}
.btn-group.btn-group-edition#collection .dropdown-menu {
  min-width: 137px;
}
.btn-group.btn-group-edition .dropdown-menu li > a:hover,
.btn-group.btn-group-edition .dropdown-menu .active > a,
.btn-group.btn-group-edition .dropdown-menu .active > a:hover {
  background: #211d1d;
  color: white;
}
.btn-group.btn-group-edition {
  margin-bottom: 40px;
}
.btn-group.btn-group-edition.open {
  margin-bottom: 44px;
}
.btn-group.btn-group-edition.open .btn {
  border-bottom: none;
  padding-bottom: 2px;
}
.btn-group.btn-group-edition.open .dropdown-menu {
  margin-top: 0px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border: 2px solid #211d1d;
  border-top: none;
}
.slug_galleries_2012 .btn-group.btn-group-edition,
.slug_galleries_2013 .btn-group.btn-group-edition {
  margin-top: -70px;
}


/*==========  Calendar ==========*/
#program-tab-nav{
  margin-top:75px;
}
#program-tab-nav a {
  float:left;
}

#program-tab-nav li:first-child a.black-btn {
  margin-right:5px;
}
#program-tab-nav .active a.black-btn {
  background-color: #fff;
  color: #211d1d;
  border-color: #211d1d;
  text-decoration: none;
}
#program-tab-nav .active a:hover {
  cursor:default;
}
#program-tab-nav .block-or-line-icon {
  float:left;
  padding-right:2px;
  width:21px;
  overflow:hidden;
  margin:2px 1px 0px 0px;
}
#program-tab-nav .tab-label {
  margin-top:1px;
  float:left;
}
#program-tab-nav .sb{
  width:5px;
}
#program-tab-nav .sl{
  width:19px;
}
#program-tab-nav .sb,
#program-tab-nav .sl {
  background: #fff;
}
#program-tab-nav a:hover .sb,
#program-tab-nav a:hover .sl{
  background: #000;
}
#program-tab-nav .active .sb,
#program-tab-nav .active .sl {
  background: #000;
}

#prog_container .row{
}
#prog_header .day{
}
#prog_hours {
  clear:both;
  float:left;
  width:65px;
  margin-right:8px;
}
#prog_hours .prog_arrow:last-child {
  margin-top:-1px;
}

#prog_container .prog_arrow {
  font-size:22px;
  line-height:37px;
  height:38px;
  border: 1px solid #000;
  text-align:center;
  background:#fff;
}

#prog_container .prog_arrow a:hover {
  text-decoration:none;
  cursor:default;
}
#prog_container .prog_arrow a{
  color:#ccc;
  display: block;
  float: left;
  width: 100%;
  height:100%;
}
#prog_container .active_arrow a {
  color:#000;
}
#prog_container .prog_arrow_left a {
}
#prog_container .active_arrow.prog_arrow_right a {
}
#prog_container .active_arrow a:hover{
  cursor:pointer;
  background:#000;
  color:#fff;
}


#prog_container .col_title {
  text-align:center;
  text-transform:uppercase;
  position:absolute;
  background:#fff;
  width:150px;
  font-size:16px;
  line-height:38px;
  border: 1px solid #000;
  height:38px;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
}
#prog_container .venue_col_2x .col_title {
  width:310px;
}
#prog_container .venue_col_3x .col_title {
  width:470px;
}

#prog_container #top_scroll_right, #prog_container #bottom_scroll_right {
  width: 65px;
  position: absolute;
  right: 0px;
  z-index: 20;
}
#prog_container #bottom_scroll_right{
  bottom:0px;
}
#prog_hours .hour {
  height:99px;
  font-size: 14px;
  font-size:14px;
  border-bottom:1px solid #999;
}

#prog_wrapper {
  width:867px;
  height:1379px;
  float:left;
  position:relative;
  overflow:hidden;
}

#prog_wrapper .venue_cols {
  position:absolute;
  width:3000px;
  background: url(/assets/programme_bg.png) 0 40px;
  top:0px;
  left:0px;
  height:100%;
}
#prog_wrapper .fade_block {
  height: 1299px;
  width: 67px;
  z-index: 100;
  position: absolute;
  right: 0;
  top: 40px;
  pointer-events: none;
  background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* IE10+ */
  background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
}

#prog_wrapper .venue_col {
  width:152px;
  margin-right:8px;
  float:left;
  height:100%;
  position:relative;
}
#prog_wrapper .venue_col_2x {
  width:312px;
}
#prog_wrapper .venue_col_3x {
  width:472px;
}

.venue_col .top {
  top:0px;
}
.venue_col .bottom {
  bottom:0px;
}

#prog_header {
  width:928px;
  padding:10px;
  border:1px solid #000;
  float:left;
}

#prog_header h5 {
	letter-spacing: 1px;
	text-transform: uppercase;
	float:left;
	margin-right:15px;
}

#prog_header #prog_filters{
  float:left;
  margin-top:3px;
}

#prog_header .prog_filter{
  padding:2px 8px;
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
}

#prog_filters #prog_filter_my {
  display:none;
}

#prog_header a.prog_filter:hover{
  text-decoration:none;
  background:#666;
  color:#fff;
}

#prog_header_left a.active:hover{
  background:#000;
}

#prog_header_left .active {
  color:#fff;
  background:#000;
}

#prog_header_left{
  width:60%;
  float:left;
}

#prog_header_right {
  float:right;
  width:40%;
}

#prog_header .day {
	text-transform: uppercase;
	font-size:17px;
	float:left;
	margin-left:15px;
	color:#999;
}

#prog_header_right .active{
  color:#000;
}

#prog_header .dates{
  clear:both;
}

#prog_header .date {
  float:right;
  display:none;
  line-height:12px;
}

#prog_header .dates .active{
  display:block;
}

.timetable a{
  color: #000;
}



.timetable .session {
  width:150px;
  height:99px;
  border: 1px solid #000;
  float:left;
  position:absolute;
  top:0;
  left:0;
  z-index:1;
  background-color:#e5f9f7;
}
.timetable .venue_col_even .session {
  background-color:#a6ddd9;
}
.timetable .session:hover {
  z-index:2;
  background-color:#00aa99;
}
.timetable .session-offset-1{ width:130px; left: 20px; margin-top:15px}
.timetable .session-offset-2{ width:110px; left: 40px; margin-top:30px}
.timetable .session-offset-3{ width: 90px; left: 60px; margin-top:45px}
.timetable .session-offset-4{ width: 70px; left: 80px; margin-top:60px}
.timetable .session-offset-5{ width: 50px; left:100px; margin-top:75px}
.timetable .session-offset-6{ width: 30px; left:120px; margin-top:90px}

.timetable .venue_col_2x .session-offset-1{ width:150px; left:160px; margin-top: 0px}
.timetable .venue_col_2x .session-offset-2{ width:130px; left: 20px; margin-top:15px}
.timetable .venue_col_2x .session-offset-3{ width:130px; left:180px; margin-top:15px}
.timetable .venue_col_2x .session-offset-4{ width:110px; left: 40px; margin-top:30px}
.timetable .venue_col_2x .session-offset-5{ width:110px; left:200px; margin-top:30px}
.timetable .venue_col_2x .session-offset-6{ width: 90px; left: 60px; margin-top:45px}
.timetable .venue_col_2x .session-offset-7{ width: 90px; left:220px; margin-top:45px}

.timetable .venue_col_3x .session-offset-1{ width:150px; left:160px; margin-top: 0px}
.timetable .venue_col_3x .session-offset-2{ width:150px; left:320px; margin-top: 0px}
.timetable .venue_col_3x .session-offset-3{ width:130px; left: 20px; margin-top:15px}
.timetable .venue_col_3x .session-offset-4{ width:130px; left:180px; margin-top:15px}
.timetable .venue_col_3x .session-offset-5{ width:130px; left:340px; margin-top:15px}
.timetable .venue_col_3x .session-offset-6{ width:110px; left: 40px; margin-top:30px}
.timetable .venue_col_3x .session-offset-7{ width:110px; left:200px; margin-top:30px}
.timetable .venue_col_3x .session-offset-8{ width:110px; left:360px; margin-top:30px}


.timetable .session_content {
  float:left;
  padding:5px 5%;
  width:90%;
  height:100%;
  height: calc(100% - 10px);
  font-size:11px;
  line-height:14px;
  overflow:hidden;
}

.timetable .short .session_content {
  float:left;
  padding:2px 5px;
}



.timetable .session_hover {
  display:none;
  position:absolute;
  background:white;
  width:238px;
  border:1px solid black;
  color:black;
  z-index:20;
  -moz-box-shadow:5px 5px 5px #666666;
	-webkit-box-shadow:5px 5px 5px rgba(0,0,0,0.6);
	box-shadow:5px 5px 5px #666666;
}

.session_hover .footer{
  width:100%;
  float:left;
  padding:0px 5px;
  height:20px;
  margin: 5px 0px 5px;
  overflow:hidden;
}

.programme_list_item .tag{
	display: block;
	background:#ccc;
	float: left;
	font-size: 10px;
	padding: 0px 7px;
	margin: 0 3px 3px 0px;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #fff;
	border-radius:3px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
}

.timetable .session_hover p {
  padding:5px 5px 0px;
  margin-bottom:5px;
}

.timetable .session_hover .speakers img {
  padding:0px 5px 5px 0px;
  width:52px;
  height:52px;
  float:left;
}

.timetable a:hover{
  text-decoration:none;
}

#programme_list {
  padding-top:10px;
  display:none;
}

#programme_list #not_attending{
  font-size: 14px;
  padding:10px;
}

#programme_venue_selector {
  display:none;
  background:black;
  color:#fff;
  text-indent: 10px;
  padding: 5px 0px;
}

#programme_list .row {
  border-top:2px solid #f2f2f2;
}

#programme_list .list_col {
  background:#f2f2f2;
  border-radius: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  margin-bottom:-2px;
}

.programme_list_hour{
  font-weight: normal;
  font-size: 30px;
  line-height: 35px;
}
.programme_list_item{
  border-left: 6px solid;
  padding: 2px 5px;
  line-height: 19px;
  margin: 0px 0px 2px;
  color:#666;
  font-size:13px;
  background:#fff;
  position:relative;
}

.programme_list_item .details{
  
}

.programme_list_item .tags {
  display:none;
  position: absolute;
  top: 12px;
  right: 5px;
/*  width: 165px;
*/  height: 20px;
  overflow: hidden;
}

.programme_list_item .hover {
  display:block;
}

.programme_list_item .tags .tag{
  float:right;
  margin-bottom:1px;
}
.programme_list_item a.session_name{
  font-size: 16px;
  color:#000;
}

#attending_list, #speaking_list {
  float:left;
  background:#f2f2f2;
}
#attending_list .programme_list_item, #speaking_list .programme_list_item {
  width:299px;
  float:left;
  overflow:hidden;
}

#attending_list .programme_list_item a.session_name, #attending_list .programme_list_item a.session_name{
  white-space:nowrap;
}

.programme_list_link {
  margin:5px 0px 0px 10px;
  float:right;
}

.list_item_spacer {
  height: 40px;
  margin-bottom:0px;
  border-color:#fff;
}