/* @override http://localhost:3000/assets/application.css?body=1 */

/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_tree ./core
 *= require formtastic-bootstrap
 *= require ym_core 
 *= require ym_cms
 *= require ym_posts
 *= require ym_search
 *= require ym_tags
 *=// require_tree .
 *= require_self
*/

/*========== Bootstrap extensions ==========*/
.icon-gray {
  background-image: url("/assets/core/glyphicons-halflings-gray.png");
}
.radio {
  padding-left: 0;
}
.radio .choices {
  padding-left: 28px;
}
dl dd {
  font-weight: normal;
}
.dl-horizontal dt {
  width: 150px;
}
.dl-horizontal dd {
  margin-left: 160px;
}
.underline {
  text-decoration: underline;
}

/*========== CSS3 magic ==========*/

@-webkit-keyframes reset {
0% {
    opacity: 0;
}
100% {
    opacity: 0;
}
}
 
@-webkit-keyframes fade_in {
0% {
    opacity: 0;
}
60% {
    opacity: 0;
}
100% {
    opacity: 1;
}
}

.fade_in {
    -webkit-animation-name: reset, fade_in;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-iteration-count: 1;
}
 
.fade_in.fade_one {-webkit-animation-delay: 0, 0;}
.fade_in.fade_two {-webkit-animation-delay: 0, 0.3s;}
.fade_in.fade_three {-webkit-animation-delay: 0, 0.6s;}
.fade_in.fade_four {-webkit-animation-delay: 0, 0.9s;}
.fade_in.fade_five {-webkit-animation-delay: 0, 1.2s;}
.fade_in.fade_six {-webkit-animation-delay: 0, 1.5s;}


/*========== Font ==========*/

body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
div,
.bold {
  font-family:"Apercu Medium", Calibri, sans-serif; 
  font-size-adjust: 0.508;
  font-weight: 600;
  font-style:normal;
}
.nav ul, .nav li, #site_logo, h2#footer_site_logo, h2 {
	font-size: 29px;
	line-height: 31px; 
}
.header_link {
  font-size: 18px;
}


/*========== Structure ==========*/

* {
  margin: 0;
}
html, body {
  height: 100%;
}
body {
  background: #fff;
  color: #000;
}
a {
  color: #000;
  text-decoration: none;
}
form a {
  color: #08C;
}
form a:hover {
  color: #ccc;
}
a:hover {
 text-decoration: underline; 
 color: #000;
}
p {
/*  font-family: georgia;*/
}
input {
  border-radius:0;
  -webkit-border-radius:0;
  -moz-border-radius:0;
  border-color: #000;
}
h1#page_title {
  font-size: 19px;
  line-height: 22px;
  margin: 0 0 15px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000;
}
h1 a,
h1 a:hover,
h2 a,
h2 a:hover,
h3 a,
h3 a:hover,
h4 a,
h4 a:hover,
h5 a,
h5 a:hover,
h6 a,
h6 a:hover {
  text-decoration: none;
}
.black-btn {
 color: white;
 background: black;
 padding: 4px 8px;
 text-decoration: none;
 font-size: 18px;
 border: 2px solid #000;
}
input.black-btn {
  font-weight:600;
  height:30px;
}
.black-btn:hover {
  background: #fff;
  border-color: #000;
  text-decoration: none;
}
/*========== Header ==========*/
.site_text_hide {
  display: none;
}
#header {
  height: 100px;
}
#header a {
  text-decoration: none;
}
#search_link {
  display: block;
  background: url(/assets/search_icon.png) no-repeat top left;
  text-indent: -9000em;
  width: 16px;
  height: 16px;
  margin: 1px 6px 0 8px;
  
}
.controller_home #search_link {
	background-position: bottom left;
  
}
/*hide search for now until we have it wired in*/
#search_icon {
  display: none;
}
.header_icon {
	display: block;
	float: right;
	background: url(/assets/header_icons.png) 0 -20px;
	width: 20px;
	height: 20px;
	text-indent: -9000em;  
}
.news_follow .header_icon {
	position: relative;
	float: left;
	margin: 5px 7px 0 0;
}
#facebook_icon {
	background-position: -20px 0px;
}
.news_follow #facebook_icon {
	background-position: -22px 0px;
}
.news_follow #twitter_icon {
	background-position: -44px 0px;
}
#twitter_icon {
	background-position: -40px 0px;
}
#site_logo {
	float: left;
	font-weight:normal;
	margin: 14px 0 0;
	width: 100%;
}
#site_logo span {
  float: left;
  clear: left;
  width: 100%;
}
#header_right {
  float: right;
  margin-top:15px;
}
#header_right h2 {
  text-align: right;
  float: right;
}
#header_right h2 span {
	float: right;
	clear: right;
}
#footer.container {
  padding-top: 40px;
  z-index: 3;
  background: white;
}
#footer h2 span {
  display:block;
  float: left;
  clear: both;
}
#footer .nav {
  margin-top:0;
}
.nav {
  min-height: 0px;
  margin: 14px 0 0;
}
.nav li{
  float:left;
  margin-left:14px;
}
.nav a {
  text-decoration: none;
}
.nav a:hover {
  border-bottom: 4px solid;
} 
/*.nav .active a {
  background: url(/assets/nav_active.png) no-repeat bottom left;
  padding-bottom: 4px;
}*/
#header_links {
  margin: 14px 0 0 0;
}
a.header_link {
  float: right;
  margin: 0 14px 0 0;
}

.big_background {
  float: right;
  width: 100%;
  height: 600px;
  position: absolute;
  top: 0;
  z-index: 0;
}
#home .big_background {
  background: url(/assets/photo_bg.jpg) repeat-x 0 -300px;
}
.container {
  z-index: 1;
  position: relative;
}
h1 {
  margin: 70px 0;
}
span#page_title {
  font-size: 60px;
  line-height: 60px;
  text-transform: uppercase;
}
.about_page_view #page_title {
  text-align: center;
  width: 100%;
  float: left;
  margin-bottom: 40px;
}
.about_page_view  #page_text_second a {
	text-decoration: none;
  
}


#intro_box {
  margin-top: 0px;
  margin-bottom: 20px;
  background:rgba(0,0,0,0.6);
  padding: 0px;
}
#intro_box .padding {
  padding-bottom: 20px;
}
#intro_box p {
  font-size: 16px;
  line-height: 21px;
  margin: 10px 0 0;
}
.intro_box {
	margin-bottom: 30px;
}
.amsterdam_text {
  margin-top: 25px;
  margin-bottom: 40px;
}

.gallery_box {
	height: 200px;
	margin-bottom: 30px;
	overflow: hidden;
	position: relative;
  
}
.gallery_box {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  
}
.gallery_text {
  padding: 10px;
  position: relative;
  height: 200px;
  z-index: 20;
  
  /*-webkit-box-shadow:inset 0px 1px 5px rgba(255,255,255,0.3), inset 0px 1px 0px rgba(255,255,255,0.3);*/
  
  border-radius:2px
}
.gallery_box:hover {
  opacity: 0.8;
}
.gallery_box a {
  color: rgba(0,0,0,0);
  float: left;
  width: 100%;
  height: 200px;
}
.gallery_box h3 {
  background: rgba(0,0,0,0.4);
  float: left;
  position: absolute;
  bottom: 20px;
  width: 370px;
  left: 0px;
  font-size: 15px;
  line-height: 15px;
  padding: 5px 10px 10px;
}
.gallery_box a:hover {
  color: rgba(0,0,0,1);
  text-decoration: none;
  
}
.gallery_box a:hover .gallery_image {
	opacity: 0.6;
}
#about_intro {
  background: url(/assets/about_page.png) no-repeat 90px 20px;
}
.page_text, p, li {
  font-size: 18px;
  line-height: 22px;
}
#galleries_intro_text {
	margin-bottom: 30px;
}
h1#galleries_title {
	margin-bottom: 25px;
}
h1#news_title {
	text-align: center;
	width: 100%;
	margin-bottom: 60px;
}
.list_box {
  margin-bottom:42px;
}
.list_image {
  clear: both;
  margin-bottom: 20px;
}
.list_title {
  font-size:40px;
  line-height:40px;
  margin-bottom:5px;
}

.list_date_and_tag {
	margin: 0;
	line-height: 20px;
	width: 100%;
}

.list_read_more, .list_date {
  font-size:18px;
  line-height: 20px;
  float: left;
  clear: left;
  text-decoration:none;
}

/*========== Footer ==========*/

#footer_site_logo {
  font-size:24px;
}
#footer.container {
  z-index: 3;
  background: white;
}
#footer h2 span {
  display:block;
}
#footer .nav {
  margin-top:0;
}
.main_wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -160px; /* the bottom margin is the negative value of the footer's height */
}
.push {
  clear: both;
   height: 160px;  
}
.footer_wrapper {
	clear: both;
	height: 160px;
  
}


/*
Sticky Footer by Ryan Fait
http://ryanfait.com/
*/

/*========== Formtastic ==========*/

form.formtastic {
  background-color: white;
}
form .tab-pane fieldset {
  padding: 20px 20px 0 20px;
}
form.formtastic .form-actions input {
  margin: 0;
}
form.formtastic .form-actions a.btn {
  text-decoration: none;
}

/*========== Homepage ==========*/

body.controller_home {
  background: black;
}
body.controller_home #footer.container, body.controller_fair #footer.container {
  padding: 40px 0;
}
body.controller_home #header a, body.controller_home h1#site_logo {
  color: white;
}
body.controller_home #facebook_icon {
	background-position: -20px -20px;
}
body.controller_home #twitter_icon {
	background-position: -40px -20px;
}
body.controller_home #search_icon {
	background-position: 0px -20px;
}
#second .facebook {
  position: relative;
  height: 230px;
  margin-bottom: 30px;
}
#second .facebook .home_small_title {
  width: 100%;
}
#second .facebook .fb-like {
  position: absolute;  
  background: white;
  z-index: 4;
  top: 30px;
  padding: 13px 0;
}
#second .facebook .fb-like-box {
  position: absolute;
  top: 70px;
  left: -10px;
  overflow: hidden;
  height: 150px;
  width: 100%;
}
#second .facebook .fb-like-box iframe {
  float: left;
  margin-top: -112px;
}
#second .twitter h4 {
  margin-bottom: 10px;
}
i.twitter_bird {
  background: url(/assets/twitter_bird.png);
  width: 32px;
  height: 18px;
  display: inline-block;
}
.home_title, .home_small_title {
  font-size: 24px;
  line-height: 25px;
  margin-bottom: 20px;
}
.home_small_title {
  margin-bottom: 10px;
  display: block;
}
.facebook.news_follow {
  margin-top: 40px;
}
.news_follow .home_small_title {
  margin: 0;
  font-size: 18px;
}

a.home_small_title, a.home_small_title:hover {
  text-decoration: none;    
}

.home_box {
  height: 800px;
  padding: 0px;
  margin: 0;
  position: relative;
  z-index: 1;
}
#unseen_big_logo {
  position: fixed;
  top: 80px;
  left: 0;
  background: url(/assets/unseen_bg.png) no-repeat center top;
  width: 100%;
  height: 762px;
  z-index: 2;
}
#intro {
  height: 730px;
}
.artist_name {
  display: block;
  float: left;
  position: absolute;
  top: 70px;
  right: 0px;
  width: 170px;
  height: 500px;
  background: url(/assets/artist_name_1.png) no-repeat 50%;
}
.home_bg_1 {
  background: url(/assets/home_bg_1.jpg) 50% 0 no-repeat fixed;
}
.home_bg_2 {
  background: #7c786f url(/assets/home_bg_4.jpg) 50% 0 no-repeat fixed;
}
.home_bg_2 .artist_name {
  background-image: url(/assets/artist_name_4.png);
}
.home_bg_3 {
  background:#000 url(/assets/home_bg_6.jpg) 50% 0 no-repeat fixed;
}
.home_bg_3 .artist_name {
  background-image: url(/assets/artist_name_6.png);
}
.home_bg_4 {
  background:#b7cad9 url(/assets/home_bg_8.jpg) 50% 0 no-repeat fixed;
}
.home_bg_4 .artist_name {
  background-image: url(/assets/artist_name_8.png);
}
.home_bg_5 {
  background:#000 url(/assets/home_bg_10.jpg) 50% 0 no-repeat fixed;
}
.home_bg_5 .artist_name {
  background-image: url(/assets/artist_name_10.png);
}

#second {
  margin-top: 0px;
  padding-top: 30px;
  z-index: 3;
}
#second,
#seventh {
  background: #fff;  
}
#second #latest_news .span3 {
  margin-bottom: 20px;
}
#second #latest_news .span3 a {
  text-decoration: none;
}
#second .span6 .span4 {
  margin-bottom: 10px;
}
#second .tweet_box {
  padding: 10px;
  border: 2px solid black;
}
#second .twitter_handle {
  font-size: 12px;
  margin: 5px 0 0 20px;
}
#second #newsletter_signup {
  margin-top: 40px;
}
#second #newsletter_signup a.black-btn {

  float: left;
}
#second #newsletter_signup h2 {
  margin-bottom: 10px;
}
input#email {
  font-size: 18px;
  line-height: 18px;
  padding: 7px;
  color: #ccc;
}
#third {
  background: #211d1d url(/assets/home_bg_3.png) 50% 0 no-repeat scroll;
  z-index: 3;  
}
#fifth {
  background: white url(/assets/home_bg_5.png) 50% 0 no-repeat scroll;
  z-index: 3;  
}
#sixth .artist_name {
  right: auto;
  left: 0;  
}
#seventh {
  background: white url(/assets/home_bg_7.png) 50% 0 no-repeat scroll;	
  z-index: 3;
}
#ninth {
  background: white url(/assets/home_bg_9.png) 50% 0 no-repeat scroll;	
  z-index: 3;
}

#eleventh {
  background: white;
  height: 213px;
  z-index: 3;
}
/*========== Options panel ==========*/

.options_panel {
  margin-top: 20px;
}

/*========== Page show ==========*/

#page_text .mercury_edit_link {
  text-decoration: none;
  font-size: 15px;
}
.mercury-textarea{
  color:#fff;
}
#new_page_box a {
  width: 100%;
  text-align: center;
  float: none;
  display: block;
  font-size: 19px;
  padding: 32px 0;
  border: 2px dashed black;
  text-decoration: none;
}
#new_page_box.span4 a {
  font-size: 30px;
}
/*========== Press page view ==========*/

#press_visuals {
	margin-top: 60px;
}
p.press_visual_txt {
	font-size: 14px;
	line-height: 16px;
	margin-top: 5px;
}
.press_visual {
  height: 210px;
}
.press_accreditation_text {
  margin-bottom: 30px;
}
.press_accreditation_text a {
  text-decoration: underline;
}

/*========== News page view ==========*/

.news_page #page_title {
  text-transform: none;
}
.news_page h1 {
  margin-bottom: 0;
}
.news_page_signup {
	margin-top: 90px;
}
.news_page .list_date_and_tag {
	margin: 15px 0 40px;
	float: left;
	clear: left;
  
}
.news_page_image {
  margin-bottom: 40px;
}
.share_link {
  display: block;
  width: 30px;
  float: left;
  margin: 0 10px 0 0;
  text-indent: -9000em;
  height: 42px;
  background: url(/assets/share_link_facebook.png) no-repeat;
}
#twitter_share_link {
  background-image: url(/assets/share_link_twitter.png);
}
.share_this p {
  text-transform: uppercase;
}

/*========== Slideshow ==========*/

#add_slide_link {
  text-decoration: none;  
}
.slideshow_container {
  margin-bottom: 50px;
}

/*========== Fair ==========*/

.fair_box {
  margin-bottom: 0 0 150px 0;
  padding: 150px 0;
  position: relative;
  z-index: 3;
}
.fair_box h2 .mercury-region {
  font-size: 60px;
  line-height: 60px;
}
.fair_box h2 {
  margin:0 0 30px 0;  
  text-align:center;
  text-transform:uppercase;  
}
.fair_window {
  height: 250px;
  z-index: 1;
}
.fair_box .mercury-region {
  font-size: 22px;
  line-height: 26px;
}
.fair_bg_1 {
  background: #211d1d url(/assets/home_bg_1.jpg) 50% 0 no-repeat fixed;
}
.fair_bg_2 {
  background: #211d1d url(/assets/home_bg_4.jpg) 50% 0 no-repeat fixed;
}
.fair_bg_3 {
  background: #211d1d url(/assets/home_bg_6.jpg) 50% 0 no-repeat fixed;
}
.fair_bg_4 {
  background: #211d1d url(/assets/home_bg_8.jpg) 50% 0 no-repeat fixed;
}
.fair_bg_5 {
  background: #211d1d url(/assets/home_bg_10.jpg) 50% 0 no-repeat fixed;
}
.scroll_to_fair_box {
  font-size: 25px;
  text-decoration: none;
  margin: 0px 0px 0 0;
  position: absolute;
  display: inline-block;  
  top: 0;
}
.scroll_down {
	left: 0;
}
.scroll_up {
  right: 0;
}
.scroll_to_fair_box:hover {
  text-decoration: none;
}
.scroll_to_arrows {
position: absolute;
bottom: -90px;
left: 450px;
width: 50px;
height: 40px;
}
#fair_box_2, #fair_box_3 {
  min-height: 700px;
}
#fair_options_panel {
  z-index: 2;
}
/*
#fair.container .row {
  margin-bottom: 150px;
}
#fair.container .row h1, #fair.container .row h2 {
  font-size: 35px;
  text-transform:uppercase;  
  text-align: center;
  margin-bottom: 30px;
}
#fair.container .row p {
  font-size: 20px;
  line-height: 25px;
}
*/

/*========== Image placeholders ==========*/
.placeholder770x446 {
  height:446px;
  width:770px;
}
.placeholder250x {
  width:250px;
}

/*========== Tags ==========*/

.tag-label {
  background-color: #E5E5E4;
  border-radius:0;
  -webkit-border-radius:0;
  -moz-border-radius:0;
  color: black;
  font-size: 13px;
  text-shadow: none;
}
.tag-label:hover {
  color: black;
}