#call-to-actions.strip
  .container
    .row
      .col-md-12
        %h2.home-title
          Stay up to date
      .col-md-4.social-links.text-center
        %h3.home-subtitle
          Connect with
          %br
          Unseen
        =link_to "Facebook", "http://www.facebook.com/UnseenPhotoFairAmsterdam", :class => "call-to-action-link", :id => "social-facebook", :target=>"_blank"
        =link_to "Twitter", "http://twitter.com/UnseenPhotoFair", :class => "call-to-action-link", :id => "social-twitter", :target => "_blank"
        =link_to 'Tumblr', "http://unseenphotofair.tumblr.com", :class => 'call-to-action-link', :id => "social-tumblr", :icon => 'tumblr', :title => "Tumblr"
        =link_to 'LinkedIn', "http://www.linkedin.com/company/unseen", :class => 'call-to-action-link', :id => "social-linkedin", :icon => 'linkedin', :title => "LinkedIn"
      .col-md-4
        %h3.home-subtitle
          Sign up for our newsletter
        .email-signup-form    
          =form_tag("http://vandejong.us4.list-manage.com/subscribe/post?u=52fb8e1dfe01670076f8db384&id=7b61a45fa2") do
            =text_field_tag "EMAIL", "your email", :class => "bold", :id => 'email', :class => "footer-email-field"
            =submit_tag 'Submit', :class => 'white-btn'  
      .col-md-4.text-center
        %h3.home-subtitle
          Sign up now
          %br
          and start collecting
        =link_to "Join us", sign_up_path, :class => "call-to-action-link", :id => "join-us-icon"
        =link_to "Get the app", "http://itunes.apple.com/us/app/unseen-photo-fair-2013/id549442244?ls=1&mt=8", :target => "_blank", :class => "call-to-action-link", :id => "app-icon"