#call-to-actions.strip
  .container
    .row
      .span12
        %h2.home-title
          Stay up to date
      .span4.social-links
        %h3.home-subtitle
          Connect with
          %br
          Unseen
        =link_to "Like us", "http://www.facebook.com/UnseenPhotoFairAmsterdam", :class=>"call-to-action-link", :id=>"social-facebook", :target=>"_blank"
        =link_to "Follow us", "http://twitter.com/UnseenPhotoFair", :class=>"call-to-action-link", :id=>"social-twitter", :target=>"_blank"
      .span4
        %h3.home-subtitle
          Sign up for our newsletter
        .email-signup-form    
          =form_tag("http://vandejong.us4.list-manage.com/subscribe/post?u=52fb8e1dfe01670076f8db384&id=7b61a45fa2") do
            =text_field_tag "EMAIL", "your email", :class => "span3 bold", :id => 'email', :class=>"footer-email-field"
            =submit_tag 'Submit', :class => 'black-btn white-btn'  
      .span4
        %h3.home-subtitle
          Sign up now
          %br
          and start collecting
        =link_to "Join us", sign_up_path, :class=>"call-to-action-link", :id=>"join-us-icon"
        =link_to "Get the app", "http://itunes.apple.com/us/app/unseen-photo-fair-2012/id549442244?ls=1&mt=8", :target => "_blank", :class=>"call-to-action-link", :id=>"app-icon"