=render('layouts/call_to_actions')
#footer-sponsors.strip
  .container
    .row
      .col-md-6
        =link_to("Blockbusterfonds","http://www.blockbusterfonds.nl", :target => "_blank", :id => 'blockbusterfonds')
      .col-md-3
        =link_to("Westergasfabriek","http://www.westergasfabriek.nl", :target => "_blank", :id => 'westergasfabriek')
        =link_to("I amsterdam","http://www.iamsterdam.com", :target => "_blank", :id => 'iamsterdam')
      .col-md-3
        =link_to("City of Amsterdam","http://www.amsterdam.nl", :target => "_blank", :id => 'cityofamsterdam')
    
.container#footer
  .row
    .col-md-3
      %h2#footer_site_logo
        =link_to root_path do
          %span
            unseen photo fair
          %span
            =snippet_text(:festival_date, '26-29 sept 2013')
          %span
            amsterdam           
    .col-md-9
      =render ("/layouts/nav")
      #header-links.pull-right
        =link_to '', "http://www.linkedin.com/company/unseen", :class => 'header-icon', :icon => 'linkedin-sign', :title => "LinkedIn", :target => '_blank'
        =link_to '', "http://unseenphotofair.tumblr.com", :class => 'header-icon', :icon => 'tumblr-sign', :title => "Tumblr", :target => '_blank'
        =link_to '', "http://twitter.com/UnseenPhotoFair", :class=>"header-icon", :icon => 'twitter-sign', :title => "Twitter", :target => '_blank'
        =link_to '', "http://www.facebook.com/UnseenPhotoFairAmsterdam", :class=>"header-icon", :icon => 'facebook-sign', :title => "Facebook", :target => '_blank'
        =link_to "search", search_path, :class=>"header-link", :id=>"search_link"  
        =#link_to("contact", Page.find_by_slug("contact") || "#", :class=>"header-link", :id=>"contact_link")
        -if user_signed_in?
          =link_to(t(:logout).downcase, sign_out_path, :method => :delete, :class=>"header-link", :id=>"login_link")
          =link_to_self(current_user, :class => "header-link")
          =link_to("sitemap", pages_path, :class => "header-link")
        -else
          =link_to("about", Page.find_by_slug("about") || "#", :class=>"header-link")
          =link_to(t(:login).downcase, sign_in_path(:next => request.path), :class=>"header-link", :id=>"login_link")
          =link_to "register", "#", :class=>"header-link"          
