.container.header-container
  #header.row
    .span3
      %h1#site_logo
        =link_to root_path do
          %span
            unseen photo fair
          %span
            19-23 sept 2012
          %span
            amsterdam        
    .span9
      #header-links.pull-right
        =link_to "Buy tickets", "http://sum008.summit.nl/unseenamsterdam", :class=>"header-link black-btn", :id=>"buy-ticket-link", :target=>"_blank"
        =link_to "Twitter", "http://twitter.com/UnseenPhotoFair", :class=>"header-icon", :id=>"twitter_icon"
        =link_to "Facebook", "http://www.facebook.com/UnseenPhotoFairAmsterdam", :class=>"header-icon", :id=>"facebook_icon"
        =link_to "search", search_path, :class=>"header-link", :id=>"search_link"  
        =link_to("press", Page.find_by_slug("press") || "#", :class=>"header-link", :id=>"contact_link")
        =link_to("contact", Page.find_by_slug("contact") || "#", :class=>"header-link", :id=>"contact_link")
        =link_to("about", Page.find_by_slug("about") || "#", :class=>"header-link")
        -if current_user
          =link_to(current_user, current_user, :class=>"header-link")
        -else current_user
          =link_to("login", sign_in_path, :class=>"header-link")
          =link_to("register", sign_up_path, :class=>"header-link")
        -if current_user && current_user.admin?
          #logged-in-dropdown.btn-group
            =link_to(current_user, :class => 'btn') do
              %icon.icon-user
              =current_user
            =link_to('#', :data => {:toggle => "dropdown"}, :class => 'btn dropdown-toggle') do
              %span.caret
            %ul.dropdown-menu.pull-right
              %li
                =link_to(pages_path) do
                  %icon.icon-sitemap
                  Sitemap
              %li
                =link_to(photographers_path) do
                  %icon.icon-group
                  Edit Photographers
              %li
                =link_to(unseen_collection_path) do
                  %icon.icon-camera
                  Unseen Collection
              %li.divider
              %li
                =link_to(sign_out_path, :method => :delete, :id=>"login_link") do
                  %icon.icon-remove-sign
                  Logout
      =render ("/layouts/nav")
