.container
  #header.row
    .span4
      %h1#site_logo
        %span
          unseen photo fair
        %span
          19-23 sept 2012
        %span
          amsterdam        
    .span8
      #nav.nav.pull-right
        %ul.unstyled
          %li=link_to("home", root_path)
          %li=link_to("news", Page.find_by_slug("news") || "#")
          %li=link_to("fair", fair_path)
          %li=link_to("galleries", Page.find_by_slug("galleries") || "#")
          %li=link_to("press", Page.find_by_slug("press") || "#")
          %li=link_to("about", Page.find_by_slug("about") || "#")
      #header_links.pull-right
        =link_to "Twitter", "http://twitter.com/UnseenPhotoFair", :class=>"header_icon", :id=>"twitter_icon"        
        =link_to "Facebook", "http://www.facebook.com/UnseenPhotoFairAmsterdam", :class=>"header_icon", :id=>"facebook_icon"        
        =link_to("contact", Page.find_by_slug("contact") || "#", :class=>"header_link", :id=>"contact_link")
        -if user_signed_in?
          =link_to(t(:logout).downcase, sign_out_path, :method => :delete, :class=>"header_link", :id=>"login_link")
          =link_to("sitemap", pages_path, :class => "header_link")
        -else
          =link_to(t(:login).downcase, sign_in_path, :class=>"header_link", :id=>"login_link")
        =link_to "search", search_path, :class=>"header_link", :id=>"search_link"  