#nav.nav.pull-right
  %ul.list-unstyled     
    %li.news-link=link_to("news", Page.find_by_slug("news") || "#")
    %li.info-link=link_to("info", Page.find_by_slug("info") || "#")
    %li.programme-link=link_to "programme", program_path
    %li.galleries-link=link_to("galleries", Page.find_by_slug("galleries_#{Settings.current_edition}") || "#")
    %li.community-link=link_to "community", community_path
    %li.amsterdam-link=link_to_slug("amsterdam", "amsterdam")
    -if false
      %li=link_to("press", Page.find_by_slug("press") || "#")
      %li=link_to("home", root_path)