!!!5
%html
  %head
    %title Unseen
    -if Rails.env == "development"
      =stylesheet_link_tag("application", "mobile", "http://dl.dropbox.com/u/292336/unseen/apercu.css")
    -else
      =stylesheet_link_tag("application", "mobile", "http://f.fontdeck.com/s/css/SHL1Q62RRv8EROgGSyefc+MAifY/unseen.yoomee.com/16878.css", "http://f.fontdeck.com/s/css/SHL1Q62RRv8EROgGSyefc+MAifY/www.unseenamsterdam.com/10817.css", "http://f.fontdeck.com/s/css/SHL1Q62RRv8EROgGSyefc+MAifY/unseenamsterdam.com/10817.css")
    =javascript_include_tag("application")
    /[if IE 7]
      =stylesheet_link_tag('ie7')
    =csrf_meta_tags
    =yield :head
    =google_analytics_js
  -body_tag do
    -if current_page?(root_path)
      #fb-root
      :javascript
        (function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1&appId=246548905437706";
          fjs.parentNode.insertBefore(js, fjs);
          }(document, 'script', 'facebook-jssdk')
        );
      =yield
    -elsif current_page?(fair_path)
      =yield
    -else
      .main_wrapper
        =render("layouts/header")
        =yield_with_bootstrap(yield)
        .push
      .footer_wrapper
        =render('layouts/footer')