!!!5
%html
  %head
    %title
      Unseen
      ="- #{@page_title}" if @page_title.present?
    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0" }      
    -if Rails.env.development?
      =stylesheet_link_tag("application", "http://dl.dropbox.com/u/292336/unseen/apercu.css")
    -else
      =stylesheet_link_tag("application", "http://f.fontdeck.com/s/css/SHL1Q62RRv8EROgGSyefc+MAifY/unseen.yoomee.com/16878.css", "http://f.fontdeck.com/s/css/SHL1Q62RRv8EROgGSyefc+MAifY/www.unseenamsterdam.com/10817.css", "http://f.fontdeck.com/s/css/SHL1Q62RRv8EROgGSyefc+MAifY/unseenamsterdam.com/10817.css")
    -if session[:api_auth].present?
      =stylesheet_link_tag("api_styles")
    =javascript_include_tag("application")
    /[if IE 7]
      =stylesheet_link_tag('ie7')
    =csrf_meta_tags
    =yield :head
    =google_analytics_js
  -body_tag do
    =yield_with_bootstrap(render_flash)
    -if current_page?(root_path)
      #fb-root
      :javascript
        (function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1&appId=246548905437706";
          fjs.parentNode.insertBefore(js, fjs);
          }(document, 'script', 'facebook-jssdk')
        );
      =yield
    -elsif action_name=='show' && @page==Page.find_by_slug('fair')
      =yield
    -else
      .main_wrapper
        =render("layouts/header")
        =yield_with_bootstrap(yield)
        .push
      #second.home_box{:class => next_home_background_class}
        .bg1
      .footer_wrapper
        =render('layouts/footer')